{
  "openapi": "3.0.0",
  "info": {
    "title": "Google Drive API",
    "description": "Manages files in Drive including uploading, downloading, searching, detecting changes, and updating sharing permissions.",
    "termsOfService": "https://developers.google.com/terms/",
    "contact": {
      "name": "Google",
      "url": "https://google.com",
      "x-twitter": "youtube"
    },
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "version": "v3",
    "x-apiClientRegistration": {
      "url": "https://console.developers.google.com"
    },
    "x-apisguru-categories": [
      "analytics",
      "media"
    ],
    "x-logo": {
      "url": "https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/mermade/oas-kit",
          "version": "7.0.4"
        },
        "format": "google",
        "url": "https://www.googleapis.com/discovery/v1/apis/drive/v3/rest",
        "version": "v1"
      }
    ],
    "x-preferred": true,
    "x-providerName": "googleapis.com",
    "x-serviceName": "drive"
  },
  "externalDocs": {
    "url": "https://developers.google.com/drive/"
  },
  "servers": [
    {
      "url": "https://www.googleapis.com/drive/v3"
    }
  ],
  "tags": [
    {
      "name": "about"
    },
    {
      "name": "changes"
    },
    {
      "name": "channels"
    },
    {
      "name": "comments"
    },
    {
      "name": "drives"
    },
    {
      "name": "files"
    },
    {
      "name": "permissions"
    },
    {
      "name": "replies"
    },
    {
      "name": "revisions"
    },
    {
      "name": "teamdrives"
    }
  ],
  "paths": {
    "/about": {
      "get": {
        "tags": [
          "about"
        ],
        "description": "Gets information about the user, the user's Drive, and system capabilities.",
        "operationId": "drive.about.get",
        "parameters": [
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for the response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIp",
            "in": "query",
            "description": "Deprecated. Please use quotaUser instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/About"
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ]
      }
    },
    "/changes": {
      "get": {
        "tags": [
          "changes"
        ],
        "description": "Lists the changes for a user or shared drive.",
        "operationId": "drive.changes.list",
        "parameters": [
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for the response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIp",
            "in": "query",
            "description": "Deprecated. Please use quotaUser instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "driveId",
            "in": "query",
            "description": "The shared drive from which changes are returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeCorpusRemovals",
            "in": "query",
            "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeItemsFromAllDrives",
            "in": "query",
            "description": "Whether both My Drive and shared drive items should be included in results.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includePermissionsForView",
            "in": "query",
            "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeRemoved",
            "in": "query",
            "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeTeamDriveItems",
            "in": "query",
            "description": "Deprecated use includeItemsFromAllDrives instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of changes to return per page.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "restrictToMyDrive",
            "in": "query",
            "description": "Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "spaces",
            "in": "query",
            "description": "A comma-separated list of spaces to query within the user corpus. Supported values are 'drive', 'appDataFolder' and 'photos'.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supportsAllDrives",
            "in": "query",
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "supportsTeamDrives",
            "in": "query",
            "description": "Deprecated use supportsAllDrives instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "teamDriveId",
            "in": "query",
            "description": "Deprecated use driveId instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeList"
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ]
      }
    },
    "/changes/startPageToken": {
      "get": {
        "tags": [
          "changes"
        ],
        "description": "Gets the starting pageToken for listing future changes.",
        "operationId": "drive.changes.getStartPageToken",
        "parameters": [
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for the response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIp",
            "in": "query",
            "description": "Deprecated. Please use quotaUser instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "driveId",
            "in": "query",
            "description": "The ID of the shared drive for which the starting pageToken for listing future changes from that shared drive is returned.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supportsAllDrives",
            "in": "query",
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "supportsTeamDrives",
            "in": "query",
            "description": "Deprecated use supportsAllDrives instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "teamDriveId",
            "in": "query",
            "description": "Deprecated use driveId instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartPageToken"
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ]
      }
    },
    "/changes/watch": {
      "post": {
        "tags": [
          "changes"
        ],
        "description": "Subscribes to changes for a user.",
        "operationId": "drive.changes.watch",
        "parameters": [
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for the response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIp",
            "in": "query",
            "description": "Deprecated. Please use quotaUser instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "driveId",
            "in": "query",
            "description": "The shared drive from which changes are returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeCorpusRemovals",
            "in": "query",
            "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeItemsFromAllDrives",
            "in": "query",
            "description": "Whether both My Drive and shared drive items should be included in results.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includePermissionsForView",
            "in": "query",
            "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeRemoved",
            "in": "query",
            "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeTeamDriveItems",
            "in": "query",
            "description": "Deprecated use includeItemsFromAllDrives instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of changes to return per page.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "restrictToMyDrive",
            "in": "query",
            "description": "Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "spaces",
            "in": "query",
            "description": "A comma-separated list of spaces to query within the user corpus. Supported values are 'drive', 'appDataFolder' and 'photos'.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supportsAllDrives",
            "in": "query",
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "supportsTeamDrives",
            "in": "query",
            "description": "Deprecated use supportsAllDrives instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "teamDriveId",
            "in": "query",
            "description": "Deprecated use driveId instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Channel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ]
      }
    },
    "/channels/stop": {
      "post": {
        "tags": [
          "channels"
        ],
        "description": "Stop watching resources through this channel",
        "operationId": "drive.channels.stop",
        "parameters": [
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for the response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIp",
            "in": "query",
            "description": "Deprecated. Please use quotaUser instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Channel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ]
      }
    },
    "/drives": {
      "get": {
        "tags": [
          "drives"
        ],
        "description": "Lists the user's shared drives.",
        "operationId": "drive.drives.list",
        "parameters": [
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for the response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIp",
            "in": "query",
            "description": "Deprecated. Please use quotaUser instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Maximum number of shared drives to return.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token for shared drives.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Query string for searching shared drives.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "useDomainAdminAccess",
            "in": "query",
            "description": "Issue the request as a domain administrator; if set to true, then all shared drives of the domain in which the requester is an administrator are returned.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DriveList"
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "drives"
        ],
        "description": "Creates a new shared drive.",
        "operationId": "drive.drives.create",
        "parameters": [
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for the response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIp",
            "in": "query",
            "description": "Deprecated. Please use quotaUser instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "in": "query",
            "description": "An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a shared drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same shared drive. If the shared drive already exists a 409 error will be returned.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Drive"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Drive"
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          }
        ]
      }
    },
    "/drives/{driveId}": {
      "get": {
        "tags": [
          "drives"
        ],
        "description": "Gets a shared drive's metadata by ID.",
        "operationId": "drive.drives.get",
        "parameters": [
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for the response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIp",
            "in": "query",
            "description": "Deprecated. Please use quotaUser instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "driveId",
            "in": "path",
            "description": "The ID of the shared drive.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "useDomainAdminAccess",
            "in": "query",
            "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Drive"
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "drives"
        ],
        "description": "Permanently deletes a shared drive for which the user is an organizer. The shared drive cannot contain any untrashed items.",
        "operationId": "drive.drives.delete",
        "parameters": [
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for the response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIp",
            "in": "query",
            "description": "Deprecated. Please use quotaUser instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "driveId",
            "in": "path",
            "description": "The ID of the shared drive.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "drives"
        ],
        "description": "Updates the metadate for a shared drive.",
        "operationId": "drive.drives.update",
        "parameters": [
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for the response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIp",
            "in": "query",
            "description": "Deprecated. Please use quotaUser instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "driveId",
            "in": "path",
            "description": "The ID of the shared drive.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "useDomainAdminAccess",
            "in": "query",
            "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Drive"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Drive"
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          }
        ]
      }
    },
    "/drives/{driveId}/hide": {
      "post": {
        "tags": [
          "drives"
        ],
        "description": "Hides a shared drive from the default view.",
        "operationId": "drive.drives.hide",
        "parameters": [
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for the response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIp",
            "in": "query",
            "description": "Deprecated. Please use quotaUser instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "driveId",
            "in": "path",
            "description": "The ID of the shared drive.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Drive"
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          }
        ]
      }
    },
    "/drives/{driveId}/unhide": {
      "post": {
        "tags": [
          "drives"
        ],
        "description": "Restores a shared drive to the default view.",
        "operationId": "drive.drives.unhide",
        "parameters": [
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for the response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIp",
            "in": "query",
            "description": "Deprecated. Please use quotaUser instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "driveId",
            "in": "path",
            "description": "The ID of the shared drive.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Drive"
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          }
        ]
      }
    },
    "/files": {
      "get": {
        "tags": [
          "files"
        ],
        "description": "Lists or searches files.",
        "operationId": "drive.files.list",
        "parameters": [
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for the response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIp",
            "in": "query",
            "description": "Deprecated. Please use quotaUser instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "corpora",
            "in": "query",
            "description": "Groupings of files to which the query applies. Supported groupings are: 'user' (files created by, opened by, or shared directly with the user), 'drive' (files in the specified shared drive as indicated by the 'driveId'), 'domain' (files shared to the user's domain), and 'allDrives' (A combination of 'user' and 'drive' for all drives where the user is a member). When able, use 'user' or 'drive', instead of 'allDrives', for efficiency.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "corpus",
            "in": "query",
            "description": "The source of files to list. Deprecated: use 'corpora' instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "domain",
                "user"
              ]
            }
          },
          {
            "name": "driveId",
            "in": "query",
            "description": "ID of the shared drive to search.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeItemsFromAllDrives",
            "in": "query",
            "description": "Whether both My Drive and shared drive items should be included in results.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includePermissionsForView",
            "in": "query",
            "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeTeamDriveItems",
            "in": "query",
            "description": "Deprecated use includeItemsFromAllDrives instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "A comma-separated list of sort keys. Valid keys are 'createdTime', 'folder', 'modifiedByMeTime', 'modifiedTime', 'name', 'name_natural', 'quotaBytesUsed', 'recency', 'sharedWithMeTime', 'starred', and 'viewedByMeTime'. Each key sorts ascending by default, but may be reversed with the 'desc' modifier. Example usage: ?orderBy=folder,modifiedTime desc,name. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of files to return per page. Partial or empty result pages are possible even before the end of the files list has been reached.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "A query for filtering the file results. See the \"Search for Files\" guide for supported syntax.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spaces",
            "in": "query",
            "description": "A comma-separated list of spaces to query within the corpus. Supported values are 'drive', 'appDataFolder' and 'photos'.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supportsAllDrives",
            "in": "query",
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "supportsTeamDrives",
            "in": "query",
            "description": "Deprecated use supportsAllDrives instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "teamDriveId",
            "in": "query",
            "description": "Deprecated use driveId instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileList"
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "files"
        ],
        "description": "Creates a new file.",
        "operationId": "drive.files.create",
        "parameters": [
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for the response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIp",
            "in": "query",
            "description": "Deprecated. Please use quotaUser instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enforceSingleParent",
            "in": "query",
            "description": "Deprecated. Creating files in multiple folders is no longer supported.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ignoreDefaultVisibility",
            "in": "query",
            "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includePermissionsForView",
            "in": "query",
            "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keepRevisionForever",
            "in": "query",
            "description": "Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ocrLanguage",
            "in": "query",
            "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supportsAllDrives",
            "in": "query",
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "supportsTeamDrives",
            "in": "query",
            "description": "Deprecated use supportsAllDrives instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "useContentAsIndexableText",
            "in": "query",
            "description": "Whether to use the uploaded content as indexable text.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "$ref": "#/components/schemas/File"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ]
      }
    },
    "/files/generateIds": {
      "get": {
        "tags": [
          "files"
        ],
        "description": "Generates a set of file IDs which can be provided in create or copy requests.",
        "operationId": "drive.files.generateIds",
        "parameters": [
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for the response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIp",
            "in": "query",
            "description": "Deprecated. Please use quotaUser instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The number of IDs to return.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "space",
            "in": "query",
            "description": "The space in which the IDs can be used to create new files. Supported values are 'drive' and 'appDataFolder'. (Default: 'drive')",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type of items which the IDs can be used for. Supported values are 'files' and 'shortcuts'. Note that 'shortcuts' are only supported in the drive 'space'. (Default: 'files')",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneratedIds"
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ]
      }
    },
    "/files/trash": {
      "delete": {
        "tags": [
          "files"
        ],
        "description": "Permanently deletes all of the user's trashed files.",
        "operationId": "drive.files.emptyTrash",
        "parameters": [
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for the response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIp",
            "in": "query",
            "description": "Deprecated. Please use quotaUser instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enforceSingleParent",
            "in": "query",
            "description": "Deprecated. If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item will be placed under its owner's root.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          }
        ]
      }
    },
    "/files/{fileId}": {
      "get": {
        "tags": [
          "files"
        ],
        "description": "Gets a file's metadata or content by ID.",
        "operationId": "drive.files.get",
        "parameters": [
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for the response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIp",
            "in": "query",
            "description": "Deprecated. Please use quotaUser instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "acknowledgeAbuse",
            "in": "query",
            "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when alt=media.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includePermissionsForView",
            "in": "query",
            "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supportsAllDrives",
            "in": "query",
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "supportsTeamDrives",
            "in": "query",
            "description": "Deprecated use supportsAllDrives instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "files"
        ],
        "description": "Permanently deletes a file owned by the user without moving it to the trash. If the file belongs to a shared drive the user must be an organizer on the parent. If the target is a folder, all descendants owned by the user are also deleted.",
        "operationId": "drive.files.delete",
        "parameters": [
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for the response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIp",
            "in": "query",
            "description": "Deprecated. Please use quotaUser instead.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
[...]
