{
  "openapi": "3.0.3",
  "info": {
    "title": "Notion API - Public Beta",
    "description": "Hello and welcome!\nTo make use of the Public Beta collection as it's written, please duplicate [this database template](https://www.notion.so/8e2c2b769e1d47d287b9ed3035d607ae?v=dc1b92875fb94f10834ba8d36549bd2a).\n[Create an integration](notion.so/my-integrations) to retrieve an API token, add your database and page ID's as variables in the collection, and start making your requests!  \nFor our full documentation, including sample integrations and guides, visit [developers.notion.com](developers.notion.com)\nNeed more help? Join our [developer community on Slack](https://join.slack.com/t/notiondevs/shared_invite/zt-lkrnk74h-YmPRroySRFGiqgjI193AqA/)",
    "contact": {
      "name": "API Support",
      "url": "http://www.example.com/support",
      "email": "support@example.com"
    },
    "version": "1.0.0",
    "x-apisguru-categories": [
      "collaboration"
    ],
    "x-logo": {
      "url": "https://notion.com/front-static/logo-ios.png"
    },
    "x-origin": [
      {
        "format": "postman",
        "url": "https://www.postman.com/collections/15568543-d990f9b7-98d3-47d3-9131-4866ab9c6df2",
        "version": "2.x"
      }
    ],
    "x-providerName": "notion.com"
  },
  "servers": [
    {
      "url": "https://api.notion.com"
    }
  ],
  "tags": [
    {
      "name": "Users"
    },
    {
      "name": "Databases"
    },
    {
      "name": "Pages"
    },
    {
      "name": "Blocks"
    },
    {
      "name": "Search"
    }
  ],
  "paths": {
    "/v1/blocks/{id}/children": {
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Retrieve block children",
        "description": "Retrieve block children",
        "operationId": "retrieveBlockChildren",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "{{PAGE_ID}}"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "100"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success - Retrieve block children",
            "headers": {
              "CF-Cache-Status": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "CF-RAY": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "647435237cce6dc4-SJC"
                }
              },
              "Connection": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Encoding": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Content-Security-Policy": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://embed.typeform.com https://admin.typeform.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://api.unsplash.com https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:"
                }
              },
              "Date": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "Wed, 28 Apr 2021 23:53:00 GMT"
                }
              },
              "ETag": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "W/\"65f3-d0AArGizyGsk597xfjWN7976xCc\""
                }
              },
              "Expect-CT": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                }
              },
              "Referrer-Policy": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "same-origin"
                }
              },
              "Server": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "Set-Cookie": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "notion_browser_id=a1b1f1dd-7731-4a2b-b968-10b475e3b526; Domain=www.notion.so; Path=/; Expires=Sun, 05 Jan 2053 01:39:40 GMT; Secure"
                }
              },
              "Strict-Transport-Security": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "max-age=5184000; includeSubDomains"
                }
              },
              "Transfer-Encoding": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "X-Content-Security-Policy": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://embed.typeform.com https://admin.typeform.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://api.unsplash.com https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:"
                }
              },
              "X-Content-Type-Options": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-DNS-Prefetch-Control": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "false"
                }
              },
              "X-Download-Options": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-WebKit-CSP": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://embed.typeform.com https://admin.typeform.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://api.unsplash.com https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:"
                }
              },
              "X-XSS-Protection": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              },
              "cf-request-id": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "09bc7f8a2a00006dc41a11e000000001"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200"
                },
                "examples": {
                  "200 Success - Retrieve block children": {
                    "value": {
                      "has_more": false,
                      "object": "list",
                      "results": [
                        {
                          "created_time": "2021-04-27T20:38:19.437+0000",
                          "has_children": false,
                          "id": "48c1ffb5-2789-4025-937b-2c35eaaaab3f",
                          "last_edited_time": "2021-04-27T20:38:19.437+0000",
                          "object": "block",
                          "type": "unsupported",
                          "unsupported": {}
                        },
                        {
                          "created_time": "2021-04-27T20:38:19.437+0000",
                          "has_children": false,
                          "id": "e381a0a3-4efb-4ba9-aa93-45b70fa9ce7f",
                          "last_edited_time": "2021-04-27T20:38:19.437+0000",
                          "object": "block",
                          "paragraph": {
                            "text": [
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": false,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": "I think we can all agree that Silicon Valley needs more adult supervision right about now.",
                                "text": {
                                  "content": "I think we can all agree that Silicon Valley needs more adult supervision right about now."
                                },
                                "type": "text"
                              }
                            ]
                          },
                          "type": "paragraph"
                        },
                        {
                          "created_time": "2021-04-27T20:38:19.437+0000",
                          "has_children": false,
                          "id": "ce5f79ac-8145-44ab-be3b-8ad143d6f8a7",
                          "last_edited_time": "2021-04-27T20:38:19.437+0000",
                          "object": "block",
                          "paragraph": {
                            "text": [
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": false,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": "Is the solution for its companies to hire a chief ethics officer?",
                                "text": {
                                  "content": "Is the solution for its companies to hire a chief ethics officer?"
                                },
                                "type": "text"
                              }
                            ]
                          },
                          "type": "paragraph"
                        },
                        {
                          "created_time": "2021-04-27T20:38:19.437+0000",
                          "has_children": false,
                          "id": "0387b374-7847-4ddc-bc53-6b0813ce4ed4",
                          "last_edited_time": "2021-04-27T20:38:19.437+0000",
                          "object": "block",
                          "paragraph": {
                            "text": [
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": false,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": "While some tech companies like Google have top compliance officers and others turn to legal teams to police themselves, no big tech companies that I know of have yet taken this step. But a lot of them seem to be talking about it, and I’ve discussed the idea with several chief executives recently. Why? Because slowly, then all at once, it feels like too many digital leaders have lost their minds.",
                                "text": {
                                  "content": "While some tech companies like Google have top compliance officers and others turn to legal teams to police themselves, no big tech companies that I know of have yet taken this step. But a lot of them seem to be talking about it, and I’ve discussed the idea with several chief executives recently. Why? Because slowly, then all at once, it feels like too many digital leaders have lost their minds."
                                },
                                "type": "text"
                              }
                            ]
                          },
                          "type": "paragraph"
                        },
                        {
                          "created_time": "2021-04-27T20:38:19.437+0000",
                          "has_children": false,
                          "id": "da035311-5af3-48bc-8279-d28d9f4ef2e2",
                          "last_edited_time": "2021-04-27T20:38:19.437+0000",
                          "object": "block",
                          "paragraph": {
                            "text": [
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": false,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": "It’s probably no surprise, considering the complex problems the tech industry faces. As one ethical quandary after another has hit its profoundly ill-prepared executives, their once-pristine reputations have fallen like palm trees in a hurricane. These last two weeks alone show how tech is stumbling to react to big world issues armed with only bubble world skills:",
                                "text": {
                                  "content": "It’s probably no surprise, considering the complex problems the tech industry faces. As one ethical quandary after another has hit its profoundly ill-prepared executives, their once-pristine reputations have fallen like palm trees in a hurricane. These last two weeks alone show how tech is stumbling to react to big world issues armed with only bubble world skills:"
                                },
                                "type": "text"
                              }
                            ]
                          },
                          "type": "paragraph"
                        },
                        {
                          "created_time": "2021-04-27T20:38:19.437+0000",
                          "has_children": false,
                          "id": "63a60fca-4a11-43eb-8773-c5f0164a3117",
                          "last_edited_time": "2021-04-27T20:38:19.437+0000",
                          "object": "block",
                          "paragraph": {
                            "text": [
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": false,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": "As a journalist is beheaded and dismembered at the direction of Saudi Arabian leaders (allegedly, but the killers did bring a bone saw), Silicon Valley is swimming in oceans of money from the kingdom’s Public Investment Fund. Saudi funding includes hundreds of millions for Magic Leap, and huge investments in hot public companies like Tesla. Most significantly: Saudis have invested about $45 billion in SoftBank’s giant Vision Fund, which has in turn doused the tech landscape — $4.4 billion to WeWork, $250 million to Slack, and $300 million to the dog-walking app Wag. In total Uber has gotten almost $14 billion, either through direct investments from the Public Investment Fund or through the Saudis’ funding of the Vision Fund. A billion here, a billion there and it all adds up.",
                                "text": {
                                  "content": "As a journalist is beheaded and dismembered at the direction of Saudi Arabian leaders (allegedly, but the killers did bring a bone saw), Silicon Valley is swimming in oceans of money from the kingdom’s Public Investment Fund. Saudi funding includes hundreds of millions for Magic Leap, and huge investments in hot public companies like Tesla. Most significantly: Saudis have invested about $45 billion in SoftBank’s giant Vision Fund, which has in turn doused the tech landscape — $4.4 billion to WeWork, $250 million to Slack, and $300 million to the dog-walking app Wag. In total Uber has gotten almost $14 billion, either through direct investments from the Public Investment Fund or through the Saudis’ funding of the Vision Fund. A billion here, a billion there and it all adds up."
                                },
                                "type": "text"
                              }
                            ]
                          },
                          "type": "paragraph"
                        },
                        {
                          "created_time": "2021-04-27T20:38:19.437+0000",
                          "has_children": false,
                          "id": "8c58c8f1-86ae-4a14-b6b9-74f5fa579620",
                          "last_edited_time": "2021-04-27T20:38:19.437+0000",
                          "object": "block",
                          "paragraph": {
                            "text": [
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": false,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": "[",
                                "text": {
                                  "content": "["
                                },
                                "type": "text"
                              },
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": true,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": "Kara Swisher answered your questions about her column ",
                                "text": {
                                  "content": "Kara Swisher answered your questions about her column "
                                },
                                "type": "text"
                              },
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": true,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "href": "https://twitter.com/karaswisher/status/1054842303922298880",
                                "plain_text": "on Twitter",
                                "text": {
                                  "content": "on Twitter",
                                  "link": {
                                    "url": "https://twitter.com/karaswisher/status/1054842303922298880"
                                  }
                                },
                                "type": "text"
                              },
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": true,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": ".",
                                "text": {
                                  "content": "."
                                },
                                "type": "text"
                              },
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": false,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": "]",
                                "text": {
                                  "content": "]"
                                },
                                "type": "text"
                              }
                            ]
                          },
                          "type": "paragraph"
                        },
                        {
                          "created_time": "2021-04-27T20:38:19.437+0000",
                          "has_children": false,
                          "id": "875d3aff-086b-45da-9ed1-bc3ddb185229",
                          "last_edited_time": "2021-04-27T20:38:19.437+0000",
                          "object": "block",
                          "paragraph": {
                            "text": [
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": false,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": "Facebook introduced a new home video device called Portal, and promised that what could be seen as a surveillance tool would not share data for the sake of ad targeting. Soon after, as ",
                                "text": {
                                  "content": "Facebook introduced a new home video device called Portal, and promised that what could be seen as a surveillance tool would not share data for the sake of ad targeting. Soon after, as "
                                },
                                "type": "text"
                              },
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": false,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "href": "https://www.recode.net/2018/10/16/17966102/facebook-portal-ad-targeting-data-collection",
                                "plain_text": "reported by Recode",
                                "text": {
                                  "content": "reported by Recode",
                                  "link": {
                                    "url": "https://www.recode.net/2018/10/16/17966102/facebook-portal-ad-targeting-data-collection"
                                  }
                                },
                                "type": "text"
                              },
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": false,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": ", Facebook admitted that “data about who you call and data about which apps you use on Portal ",
                                "text": {
                                  "content": ", Facebook admitted that “data about who you call and data about which apps you use on Portal "
                                },
                                "type": "text"
                              },
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": true,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": "can",
                                "text": {
                                  "content": "can"
                                },
                                "type": "text"
                              },
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": false,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": " be used to target you with ads on other Facebook-owned properties.” Oh. Um. That’s awkward.",
                                "text": {
                                  "content": " be used to target you with ads on other Facebook-owned properties.” Oh. Um. That’s awkward."
                                },
                                "type": "text"
                              }
                            ]
                          },
                          "type": "paragraph"
                        },
                        {
                          "created_time": "2021-04-27T20:38:19.437+0000",
                          "has_children": false,
                          "id": "306ab0fb-6daa-4c5b-b1f7-f51a5f92b6ff",
                          "last_edited_time": "2021-04-27T20:38:19.437+0000",
                          "object": "block",
                          "paragraph": {
                            "text": [
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": false,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": "After agreeing to pay $20 million to the Securities and Exchange Commission for an ill-advised tweet about possible funding (from the Saudis, by the way), the Tesla co-founder Elon Musk proceeded to troll the regulatory agency on, you got it, Twitter. And even though the ",
                                "text": {
                                  "content": "After agreeing to pay $20 million to the Securities and Exchange Commission for an ill-advised tweet about possible funding (from the Saudis, by the way), the Tesla co-founder Elon Musk proceeded to troll the regulatory agency on, you got it, Twitter. And even though the "
                                },
                                "type": "text"
                              },
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": false,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "href": "https://www.sec.gov/news/press-release/2018-226",
                                "plain_text": "settlement called for some kind of control of his communications",
                                "text": {
                                  "content": "settlement called for some kind of control of his communications",
                                  "link": {
                                    "url": "https://www.sec.gov/news/press-release/2018-226"
                                  }
                                },
                                "type": "text"
                              },
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": false,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": ", it appears that Mr. Musk will continue tweeting until someone steals his phone.",
                                "text": {
                                  "content": ", it appears that Mr. Musk will continue tweeting until someone steals his phone."
                                },
                                "type": "text"
                              }
                            ]
                          },
                          "type": "paragraph"
                        },
                        {
                          "created_time": "2021-04-27T20:38:19.437+0000",
                          "has_children": false,
                          "id": "122b1457-4129-4513-abaa-7cce7d66e4a1",
                          "last_edited_time": "2021-04-27T20:38:19.437+0000",
                          "object": "block",
                          "paragraph": {
                            "text": [
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": false,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": "Finally, Google took six months to make public that user data on its social network, Google Plus, ",
                                "text": {
                                  "content": "Finally, Google took six months to make public that user data on its social network, Google Plus, "
                                },
                                "type": "text"
                              },
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": false,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "href": "https://www.nytimes.com/2018/10/08/technology/google-plus-security-disclosure.html?module=inline",
                                "plain_text": "had been exposed",
                                "text": {
                                  "content": "had been exposed",
                                  "link": {
                                    "url": "https://www.nytimes.com/2018/10/08/technology/google-plus-security-disclosure.html?module=inline"
                                  }
                                },
                                "type": "text"
                              },
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": false,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": " and that profiles of up to 500,000 users may have been compromised. While the service failed long ago, because it was pretty much designed by antisocial people, this lack of concern for privacy was profound.",
                                "text": {
                                  "content": " and that profiles of up to 500,000 users may have been compromised. While the service failed long ago, because it was pretty much designed by antisocial people, this lack of concern for privacy was profound."
                                },
                                "type": "text"
                              }
                            ]
                          },
                          "type": "paragraph"
                        },
                        {
                          "created_time": "2021-04-27T20:38:19.437+0000",
                          "has_children": false,
                          "id": "4d4af599-556f-4d8b-af8e-4d01ebe2aa27",
                          "last_edited_time": "2021-04-27T20:38:19.437+0000",
                          "object": "block",
                          "paragraph": {
                            "text": [
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": false,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": "Grappling with what to say and do about the disasters they themselves create is only the beginning. Then there are the broader issues that the denizens of Silicon Valley expect their employers to have a stance on: immigration, income inequality, artificial intelligence, automation, transgender rights, climate change, privacy, data rights and whether tech companies should be helping the government do controversial things. It’s an ethical swamp out there.",
                                "text": {
                                  "content": "Grappling with what to say and do about the disasters they themselves create is only the beginning. Then there are the broader issues that the denizens of Silicon Valley expect their employers to have a stance on: immigration, income inequality, artificial intelligence, automation, transgender rights, climate change, privacy, data rights and whether tech companies should be helping the government do controversial things. It’s an ethical swamp out there."
                                },
                                "type": "text"
                              }
                            ]
                          },
                          "type": "paragraph"
                        },
                        {
                          "created_time": "2021-04-27T20:38:19.437+0000",
                          "has_children": false,
                          "id": "f5775df5-59eb-4533-a2cb-e150412ec4f6",
                          "last_edited_time": "2021-04-27T20:38:19.437+0000",
                          "object": "block",
                          "paragraph": {
                            "text": [
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": false,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": "That’s why, in a recent interview, Marc Benioff, the co-chief executive and a founder of Salesforce, told me he was in the process of hiring a chief ethical officer to help anticipate and address any thorny conundrums it might encounter as a business — like the decision it had to make a few months back about whether it should stop providing recruitment software for Customs and Border Protection because of the government’s policy of separating immigrant families at the border.",
                                "text": {
                                  "content": "That’s why, in a recent interview, Marc Benioff, the co-chief executive and a founder of Salesforce, told me he was in the process of hiring a chief ethical officer to help anticipate and address any thorny conundrums it might encounter as a business — like the decision it had to make a few months back about whether it should stop providing recruitment software for Customs and Border Protection because of the government’s policy of separating immigrant families at the border."
                                },
                                "type": "text"
                              }
                            ]
                          },
                          "type": "paragraph"
                        },
                        {
                          "created_time": "2021-04-27T20:38:19.437+0000",
                          "has_children": false,
                          "id": "31405c6e-7ece-4667-8c4d-36c9d79a0bfa",
                          "last_edited_time": "2021-04-27T20:38:19.437+0000",
                          "object": "block",
                          "paragraph": {
                            "text": [
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": false,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": "Amid much criticism, Mr. Benioff decided to keep the contract, but said he would focus more on social and political issues.",
                                "text": {
                                  "content": "Amid much criticism, Mr. Benioff decided to keep the contract, but said he would focus more on social and political issues."
                                },
                                "type": "text"
                              }
                            ]
                          },
                          "type": "paragraph"
                        },
                        {
                          "created_time": "2021-04-27T20:38:19.437+0000",
                          "has_children": false,
                          "id": "a2ab7e8a-d521-401d-89ae-9eb27efb9990",
                          "last_edited_time": "2021-04-27T20:38:19.437+0000",
                          "object": "block",
                          "paragraph": {
                            "text": [
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": false,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": "At a recent company event, he elaborated: “We can have a structured conversation not just with our own employees myopically, but by bringing in the key advisers, supporters and pundits and philosophers and everybody necessary to ask the question if what we are doing today is ethical and humane.”",
                                "text": {
                                  "content": "At a recent company event, he elaborated: “We can have a structured conversation not just with our own employees myopically, but by bringing in the key advisers, supporters and pundits and philosophers and everybody necessary to ask the question if what we are doing today is ethical and humane.”"
                                },
                                "type": "text"
                              }
                            ]
                          },
                          "type": "paragraph"
                        },
                        {
                          "created_time": "2021-04-27T20:38:19.437+0000",
                          "has_children": false,
                          "id": "a4498e1e-8b85-48d7-802a-db447ca7d1ac",
                          "last_edited_time": "2021-04-27T20:38:19.437+0000",
                          "object": "block",
                          "paragraph": {
                            "text": [
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": false,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": "23andMe has also toyed with the idea of hiring a chief ethics officer. In an interview I did this week with its chief executive, Anne Wojcicki, she said the genetics company had even interviewed candidates, but that many of them wanted to remain in academia to be freer to ponder these issues. She acknowledged that the collection of DNA data is rife with ethical considerations, but said, “I think it has to be our management and leaders who have to add this to our skill set, rather than just hire one person to determine this.”",
                                "text": {
                                  "content": "23andMe has also toyed with the idea of hiring a chief ethics officer. In an interview I did this week with its chief executive, Anne Wojcicki, she said the genetics company had even interviewed candidates, but that many of them wanted to remain in academia to be freer to ponder these issues. She acknowledged that the collection of DNA data is rife with ethical considerations, but said, “I think it has to be our management and leaders who have to add this to our skill set, rather than just hire one person to determine this.”"
                                },
                                "type": "text"
                              }
                            ]
                          },
                          "type": "paragraph"
                        },
                        {
                          "created_time": "2021-04-27T20:38:19.437+0000",
                          "has_children": false,
                          "id": "cbf7e7e0-5552-4b3f-b09e-9dcca120931c",
                          "last_edited_time": "2021-04-27T20:38:19.437+0000",
                          "object": "block",
                          "paragraph": {
                            "text": [
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": false,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": "When asked about the idea of a single source of wisdom on ethics, some point out that legal or diversity/inclusion departments are designed for that purpose and that the ethics should really come from the top — the chief executive.",
                                "text": {
                                  "content": "When asked about the idea of a single source of wisdom on ethics, some point out that legal or diversity/inclusion departments are designed for that purpose and that the ethics should really come from the top — the chief executive."
                                },
                                "type": "text"
                              }
                            ]
                          },
                          "type": "paragraph"
                        },
                        {
                          "created_time": "2021-04-27T20:38:19.437+0000",
                          "has_children": false,
                          "id": "d24b2887-0f1f-4e91-99c1-c295bed8ad65",
                          "last_edited_time": "2021-04-27T20:38:19.437+0000",
                          "object": "block",
                          "paragraph": {
                            "text": [
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": false,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": "Also of concern is the possibility that a single person would not get listened to or, worse, get steamrollered. And, if the person was bad at the job, of course, it could drag the whole thing down.",
                                "text": {
                                  "content": "Also of concern is the possibility that a single person would not get listened to or, worse, get steamrollered. And, if the person was bad at the job, of course, it could drag the whole thing down."
                                },
                                "type": "text"
                              }
                            ]
                          },
                          "type": "paragraph"
                        },
                        {
                          "created_time": "2021-04-27T20:38:19.437+0000",
                          "has_children": false,
                          "id": "78c55f65-c8b8-4364-a369-c40699968e90",
                          "last_edited_time": "2021-04-27T20:38:19.437+0000",
                          "object": "block",
                          "paragraph": {
                            "text": [
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": false,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": "Others are more worried that the move would be nothing but window dressing. One consultant who focuses on ethics, but did not want to be named, told me: “We haven’t even defined ethics, so what even is ethical use, especially for Silicon Valley companies that are babies in this game?”",
                                "text": {
                                  "content": "Others are more worried that the move would be nothing but window dressing. One consultant who focuses on ethics, but did not want to be named, told me: “We haven’t even defined ethics, so what even is ethical use, especially for Silicon Valley companies that are babies in this game?”"
                                },
                                "type": "text"
                              }
                            ]
                          },
                          "type": "paragraph"
                        },
                        {
                          "created_time": "2021-04-27T20:38:19.437+0000",
                          "has_children": false,
                          "id": "0b492111-1586-4a73-8848-04f0c391aadc",
                          "last_edited_time": "2021-04-27T20:38:19.437+0000",
                          "object": "block",
                          "paragraph": {
                            "text": [
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": false,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": "How can an industry that, unlike other business sectors, persistently promotes itself as doing good, learn to do that in reality? Do you want to not do harm, or do you want to do good? These are two totally different things.",
                                "text": {
                                  "content": "How can an industry that, unlike other business sectors, persistently promotes itself as doing good, learn to do that in reality? Do you want to not do harm, or do you want to do good? These are two totally different things."
                                },
                                "type": "text"
                              }
                            ]
                          },
                          "type": "paragraph"
                        },
                        {
                          "created_time": "2021-04-27T20:38:19.437+0000",
                          "has_children": false,
                          "id": "302f8229-2404-460b-8c3c-e7058b4365e5",
                          "last_edited_time": "2021-04-27T20:38:19.437+0000",
                          "object": "block",
                          "paragraph": {
                            "text": [
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": false,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": "And how do you put an official ethical system in place without it seeming like you’re telling everyone how to behave? Who gets to decide those rules anyway, setting a moral path for the industry and — considering tech companies’ enormous power — the world.",
                                "text": {
                                  "content": "And how do you put an official ethical system in place without it seeming like you’re telling everyone how to behave? Who gets to decide those rules anyway, setting a moral path for the industry and — considering tech companies’ enormous power — the world."
                                },
                                "type": "text"
                              }
                            ]
                          },
                          "type": "paragraph"
                        },
                        {
                          "created_time": "2021-04-27T20:38:19.437+0000",
                          "has_children": false,
                          "id": "8f9bc91c-5662-4b3f-a110-809f46b79f49",
                          "last_edited_time": "2021-04-27T20:38:19.437+0000",
                          "object": "block",
                          "paragraph": {
                            "text": [
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": false,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": "Like I said, adult supervision. Or maybe, better still, Silicon Valley itself has to grow up.",
                                "text": {
                                  "content": "Like I said, adult supervision. Or maybe, better still, Silicon Valley itself has to grow up."
                                },
                                "type": "text"
                              }
                            ]
                          },
                          "type": "paragraph"
                        },
                        {
                          "created_time": "2021-04-27T20:38:19.437+0000",
                          "has_children": false,
                          "id": "7bea1831-a25c-4b3e-8c9b-b37de814f948",
                          "last_edited_time": "2021-04-27T20:38:19.437+0000",
                          "object": "block",
                          "paragraph": {
                            "text": [
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": true,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": "Follow The New York Times Opinion section on ",
                                "text": {
                                  "content": "Follow The New York Times Opinion section on "
                                },
                                "type": "text"
                              },
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": true,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "href": "https://www.facebook.com/nytopinion",
                                "plain_text": "Facebook",
                                "text": {
                                  "content": "Facebook",
                                  "link": {
                                    "url": "https://www.facebook.com/nytopinion"
                                  }
                                },
                                "type": "text"
                              },
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": true,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": ", ",
                                "text": {
                                  "content": ", "
                                },
                                "type": "text"
                              },
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": true,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "href": "http://twitter.com/NYTOpinion",
                                "plain_text": "Twitter (@NYTopinion)",
                                "text": {
                                  "content": "Twitter (@NYTopinion)",
                                  "link": {
                                    "url": "http://twitter.com/NYTOpinion"
                                  }
                                },
                                "type": "text"
                              },
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": true,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": " and ",
                                "text": {
                                  "content": " and "
                                },
                                "type": "text"
                              },
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": true,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "href": "https://www.instagram.com/nytopinion/",
                                "plain_text": "Instagram",
                                "text": {
                                  "content": "Instagram",
                                  "link": {
                                    "url": "https://www.instagram.com/nytopinion/"
                                  }
                                },
                                "type": "text"
                              },
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": true,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": ", and sign up for the ",
                                "text": {
                                  "content": ", and sign up for the "
                                },
                                "type": "text"
                              },
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": true,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "href": "http://www.nytimes.com/newsletters/opiniontoday/",
                                "plain_text": "Opinion Today newsletter",
                                "text": {
                                  "content": "Opinion Today newsletter",
                                  "link": {
                                    "url": "http://www.nytimes.com/newsletters/opiniontoday/"
                                  }
                                },
                                "type": "text"
                              },
                              {
                                "annotations": {
                                  "bold": false,
                                  "code": false,
                                  "color": "default",
                                  "italic": true,
                                  "strikethrough": false,
                                  "underline": false
                                },
                                "plain_text": ".",
                                "text": {
                                  "content": "."
                                },
                                "type": "text"
                              }
                            ]
                          },
                          "type": "paragraph"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Blocks"
        ],
        "summary": "Append block children",
        "description": "Append block children",
        "operationId": "appendBlockChildren",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "{{PAGE_ID}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/id_children_body"
              },
              "example": {
                "children": [
                  {
                    "heading_2": {
                      "text": [
                        {
                          "text": {
                            "content": "Lacinato kale"
                          },
                          "type": "text"
                        }
                      ]
                    },
                    "object": "block",
                    "type": "heading_2"
                  },
                  {
                    "object": "block",
                    "paragraph": {
                      "text": [
                        {
                          "text": {
                            "content": "Lacinato kale is a variety of kale with a long tradition in Italian cuisine, especially that of Tuscany. It is also known as Tuscan kale, Italian kale, dinosaur kale, kale, flat back kale, palm tree kale, or black Tuscan palm.",
                            "link": {
                              "url": "https://en.wikipedia.org/wiki/Lacinato_kale"
                            }
                          },
                          "type": "text"
                        }
                      ]
                    },
                    "type": "paragraph"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 Success - Append block children",
            "headers": {
              "CF-Cache-Status": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "CF-RAY": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "64e177c41a820231-SJC"
                }
              },
              "Connection": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Encoding": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Content-Security-Policy": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://api.unsplash.com https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:"
                }
              },
              "Date": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "Wed, 12 May 2021 06:07:37 GMT"
                }
              },
              "ETag": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "W/\"105-p1Ka6kLp+wkCMX+oZhcjZAtwEtc\""
                }
              },
              "Expect-CT": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                }
              },
              "Referrer-Policy": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "same-origin"
                }
              },
              "Server": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "Set-Cookie": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "notion_browser_id=0724819e-ad9a-4b7f-b50e-e5c75d6763dd; Domain=www.notion.so; Path=/; Expires=Sat, 18 Jan 2053 07:54:17 GMT; Secure"
                }
              },
              "Strict-Transport-Security": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "max-age=5184000; includeSubDomains"
                }
              },
              "Transfer-Encoding": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "X-Content-Security-Policy": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://api.unsplash.com https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:"
                }
              },
              "X-Content-Type-Options": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-DNS-Prefetch-Control": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "false"
                }
              },
              "X-Download-Options": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-WebKit-CSP": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://api.unsplash.com https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:"
                }
              },
              "X-XSS-Protection": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              },
              "cf-request-id": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "0a00c92e8d00000231bf82c000000001"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_1"
                },
                "examples": {
                  "200 Success - Append block children": {
                    "value": {
                      "child_page": {
                        "title": "Who Will Teach Silicon Valley to Be Ethical? "
                      },
                      "created_time": "2021-04-27T20:38:19.437+0000",
                      "has_children": true,
                      "id": "a1712d54-53e4-4893-a69d-4d581cd2c845",
                      "last_edited_time": "2021-05-12T06:07:37.724+0000",
                      "object": "block",
                      "type": "child_page"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/databases/{id}": {
      "get": {
        "tags": [
          "Databases"
        ],
        "summary": "Retrieve a database",
        "description": "Retrieves a database object using the ID specified in the request path. ",
        "operationId": "retrieveADatabase",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "{{DATABASE_ID}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success - Retrieve a database",
            "headers": {
              "CF-Cache-Status": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "CF-RAY": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "646b122b5e6d269a-SJC"
                }
              },
              "Connection": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Encoding": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Content-Security-Policy": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://embed.typeform.com https://admin.typeform.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://api.unsplash.com https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:"
                }
              },
              "Date": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "Tue, 27 Apr 2021 21:16:17 GMT"
                }
              },
              "ETag": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "W/\"ec4-zjtg92X8dlV+o+GOEWHEth+DGEk\""
                }
              },
              "Expect-CT": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                }
              },
              "Referrer-Policy": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "same-origin"
                }
              },
              "Server": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "Set-Cookie": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "notion_browser_id=9122a199-c9bd-4be0-9313-ef4af9d1a2bc; Domain=www.notion.so; Path=/; Expires=Fri, 03 Jan 2053 23:02:57 GMT; Secure"
                }
              },
              "Strict-Transport-Security": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "max-age=5184000; includeSubDomains"
                }
              },
              "Transfer-Encoding": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "X-Content-Security-Policy": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://embed.typeform.com https://admin.typeform.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://api.unsplash.com https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:"
                }
              },
              "X-Content-Type-Options": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-DNS-Prefetch-Control": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "false"
                }
              },
              "X-Download-Options": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-WebKit-CSP": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://embed.typeform.com https://admin.typeform.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://api.unsplash.com https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:"
                }
              },
              "X-XSS-Protection": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              },
              "cf-request-id": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "09b6c9af130000269a31192000000001"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_2"
                },
                "examples": {
                  "200 Success - Retrieve a database": {
                    "value": {
                      "created_time": "2021-04-27T20:38:19.437+0000",
                      "id": "8e2c2b76-9e1d-47d2-87b9-ed3035d607ae",
                      "last_edited_time": "2021-04-27T21:15:00.000+0000",
                      "object": "database",
                      "properties": {
                        "Author": {
                          "id": "qNw_",
                          "multi_select": {
                            "options": [
                              {
                                "color": "default",
                                "id": "15592971-7b30-43d5-9406-2eb69b13fcae",
                                "name": "Spencer Greenberg"
                              },
                              {
                                "color": "default",
                                "id": "b80a988e-dccf-4f74-b764-6ca0e49ed1b8",
                                "name": "Seth Stephens-Davidowitz"
                              },
                              {
                                "color": "default",
                                "id": "0e71ee06-199d-46a4-834c-01084c8f76cb",
                                "name": "Andrew Russell"
                              },
                              {
                                "color": "default",
                                "id": "5807ec38-4879-4455-9f30-5352e90e8b79",
                                "name": "Lee Vinsel"
                              },
                              {
                                "color": "default",
                                "id": "4cf10a64-f3da-449c-8e04-ce6e338bbdbd",
                                "name": "Megan Greenwell"
                              },
                              {
                                "color": "default",
                                "id": "833e2c78-35ed-4601-badc-50c323341d76",
                                "name": "Kara Swisher"
                              },
                              {
                                "color": "default",
                                "id": "82e594e2-b1c5-4271-ac19-1a723a94a533",
                                "name": "Paul Romer"
                              },
                              {
                                "color": "default",
                                "id": "ae3a2cbe-1fc9-4376-be35-331628b34623",
                                "name": "Karen Swallow Prior"
                              },
                              {
                                "color": "default",
                                "id": "da068e78-dfe2-4434-9fd7-b7450b3e5830",
                                "name": "Judith Shulevitz"
                              }
                            ]
                          },
                          "type": "multi_select"
                        },
                        "Link": {
                          "id": "VVMi",
                          "type": "url",
                          "url": {}
                        },
                        "Name": {
                          "id": "title",
                          "title": {},
                          "type": "title"
                        },
                        "Publisher": {
                          "id": ">$Pb",
                          "select": {
                            "options": [
                              {
                                "color": "default",
                                "id": "c5ee409a-f307-4176-99ee-6e424fa89afa",
                                "name": "NYT"
                              },
                              {
                                "color": "blue",
                                "id": "1b9b0c0c-17b0-4292-ad12-1364a51849de",
                                "name": "Netflix"
                              },
                              {
                                "color": "brown",
                                "id": "f3533637-278f-4501-b394-d9753bf3c101",
                                "name": "Indie"
                              },
                              {
                                "color": "yellow",
                                "id": "e70d713c-4be4-4b40-a44d-fb413c8b9d7e",
                                "name": "Bon Appetit"
                              },
                              {
                                "color": "pink",
                                "id": "9c2bd667-0a10-4be4-a044-35a537a14ab9",
                                "name": "Franklin Institute"
                              },
                              {
                                "color": "orange",
                                "id": "6849b5f0-e641-4ec5-83cb-1ffe23011060",
                                "name": "Springer"
                              },
                              {
                                "color": "gray",
                                "id": "6a5bff63-a72d-4464-a5d0-1a601af2adf6",
                                "name": "Emerald Group"
                              },
                              {
                                "color": "red",
                                "id": "01f82d08-aa1f-4884-a4e0-3bc32f909ec4",
                                "name": "The Atlantic"
                              }
                            ]
                          },
                          "type": "select"
                        },
                        "Publishing/Release Date": {
                          "date": {},
                          "id": "?ex+",
                          "type": "date"
                        },
                        "Read": {
                          "checkbox": {},
                          "id": "_MWJ",
                          "type": "checkbox"
                        },
                        "Score /5": {
                          "id": ")Y7\"",
                          "select": {
                            "options": [
                              {
[...]
