{
  "openapi": "3.0.0",
  "info": {
    "title": "Recurly V3 API",
    "description": "# Getting Started\n\n## Versioning\nThe V3 API is versioned to allow stability for integrators and\nflexibility for Recurly to continue making improvements.\n\nThe versions follow a format that incorporates the approximate date the\nchanges were released in a YYYY-MM-DD format, e.g. `v2019-10-10`.\n\n> *WARNING*: Specifying a version is required to get a successful response.\n\nEach request should specify a version using the `Accept` header:\n* `Accept: application/vnd.recurly.v2019-10-10`\n* `Accept: application/vnd.recurly.v2019-10-10+json`\n\nAll responses will include a `Recurly-Version` header with the API version\nused to process the request:\n```\nRecurly-Version: recurly.v2019-10-10\n```\n\n### Default Versions\nSpecifying a version is required to get a successful response. If you wish to\nreceive the latest version and are willing to accept the risk of breaking changes,\nyou may specify a version of `latest`.\n\nThe following media types will default the newest version of\nthe API:\n\n* `application/vnd.recurly.latest`\n* `application/vnd.recurly.latest+json`\n\n### Deprecation\nResponses for a deprecated version request will return two headers:\n```\nRecurly-Deprecated: TRUE\nRecurly-Sunset-Date: 2017-06-01T00:00:00+00:00\n```\nThe sunset date is an ISO-8601 formatted date time after which the version\nwill no longer be accessible.\n\n### Unsupported Versions\nA request for an unsupported version will return a status code of 406 and\nthe body will include a list of supported versions:\n```\n{\n  \"error\": {\n    \"type\": \"invalid_api_version\",\n    \"message\": \"That accept header isn't in the format we use to specify an API version. Try one of these instead:\",\n    \"acceptable_accept_headers\": [\n      \"application/vnd.recurly.v2016-03-01\",\n      \"application/vnd.recurly.v2016-04-27\",\n      \"application/vnd.recurly.v2016-07-27\",\n      \"application/vnd.recurly.v2016-12-15\",\n      \"application/vnd.recurly.v2017-01-12\",\n      \"application/vnd.recurly.v2017-09-30\",\n      \"application/vnd.recurly.v2018-01-24\",\n      \"application/vnd.recurly.v2018-05-10\",\n      \"application/vnd.recurly.v2018-06-06\",\n      \"application/vnd.recurly.v2018-08-09\",\n      \"application/vnd.recurly.v2019-10-10\"\n    ]\n  }\n}\n```\n\n## Error Messages\nError messages sent via the Recurly API are generally directed at\ndevelopers and those who are familiar with API technology. When using the\nAPI and passing error messages to target systems, be mindful that\nthese messages may not make sense in the context of the target system.\nPlease consider changing these messages in target system to be better\nsuited to the audience of the system.\n\n## Pagination\n### Response Schema\nEvery GET listing endpoint returns a response with the same schema:\n\n```\n{\n  \"object\":   \"list\",         // Always \"list\"\n  \"has_more\": true,           // false if this is the last page of data\n  \"next\":     \"https://...\",  // A URL pointing to the next page of data\n  \"data\":     []              // The data for this page as an array\n}\n```\n\nTo page through every record, your code should continually call the URL\nat `next` until `has_more` is `false`.\n\n### Query Parameters\nMost GET listing endpoints take query parameters that allow filtering\nand sorting the results. Some endpoints have additional parameters, which are\ndocumented on the respective endpoints, but most support the\nfollowing parameters:\n\n* `ids`: A comma separated list of ids to match.\n* `limit`: The number of records to return per page.\n* `order`: The sort order of records.\n* `sort`: The date field to use in sorting.\n* `begin_time`: The start datetime to filter (ISO 8601).\n* `end_time`: The end datetime to filter (ISO 8601).\n\n### Counting with HEAD\nEvery GET listing endpoint also supports the HEAD HTTP method. Making a\nhead request to the endpoint results in an empty body and an additional\n`Recurly-Total-Records` header. This is a count of the total number of records\nthat the endpoint will return, taking into account the current filtering query\nparameters.\n\n## Limits\nIn order to provide a fast response time to all our customers, we may rate\nlimit excessive requests. By default, new Recurly sites have the following\nAPI rate limits:\n\n* Sandbox sites: 400 requests/min. All requests count towards the rate limit.\n* Production sites: 1,000 requests/min. Only GET requests count towards the rate limit.\n\nOnce your site moves into production mode, Recurly will only rate limit\nGET requests. New subscriptions, account modifications, and other requests\nusing POST, PUT, or DELETE methods will not count against your rate limit.\n\nThe rate limit is calculated over a sliding 5 minute window. This means a\nproduction site could make 4,000 requests within one minute and not hit\nthe rate limit so long as the site made less than 1,000 requests during\nthe prior 4 minutes.\n\nIf an API request exceeds the rate limit, the API will return a\n`429 Too Many Requests` HTTP status. If your business needs a higher\nlimit, please contact support.\n\nThe rate limit applied to your client can be determined with the\n`X-RateLimit-Limit` header, and the number of remaining requests is sent\nin the `X-RateLimit-Remaining` header. Finally, the `X-RateLimit-Reset`\nheader contains an integer value representing the time, measured in\nseconds since the UNIX Epoch, at which the request count will be reset.\n\n## Change Log\n\nA list of changes for this version can be found [in the changelog](https://developers.recurly.com/api/changelog.html#v2019-10-10).\n",
    "version": "v2019-10-10"
  },
  "servers": [
    {
      "url": "https://v3.recurly.com"
    }
  ],
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [
    {
      "name": "site",
      "x-displayName": "Site"
    },
    {
      "name": "custom_field_definition",
      "description": "Describes the fields that can use used as custom fields on accounts or subscriptions.",
      "x-displayName": "Custom Field Definition"
    },
    {
      "name": "item",
      "description": "For merchants who sell the same things to many customers, documenting those offerings in a catalog allows for faster charge creation, easier management of offerings, and analytics about your offerings across all sales channels. Because your offerings can be physical, digital, or service-oriented, Recurly collectively calls these offerings \"Items\".\n\nRecurly's item catalog requires the Credit Invoices and Subscription Billing Terms features to be enabled.",
      "x-displayName": "Item"
    },
    {
      "name": "plan",
      "description": "A plan tells Recurly how often and how much to charge your customers. Plans can be created with free trials, optional products (called add-ons), setup fees, and more.",
      "x-displayName": "Plan"
    },
    {
      "name": "add-on",
      "description": "An add-on is a charge billed each billing period in addition to a subscription’s base charge. Each plan may have one or more add-ons associated with it.",
      "x-displayName": "Add-on"
    },
    {
      "name": "account",
      "description": "Accounts are core to managing your customers inside of Recurly. The account object stores the entire Recurly history of your customer and acts as the entry point for working with a customer's billing information, subscription data, transactions, invoices and more.",
      "x-displayName": "Account"
    },
    {
      "name": "note",
      "description": "Account notes allow your team to leave notes on an account to add context, e.g. the reason for a refund, customer requests, and/or complaints. These notes are internal and not exposed to your customers.",
      "x-displayName": "Account Note"
    },
    {
      "name": "account_acquisition",
      "description": "Recurly offers the ability to record marketing data on customer accounts to match this data with revenue and billing data events in Recurly.",
      "x-displayName": "Account Acquisition Info"
    },
    {
      "name": "billing_info",
      "description": "An account can have one stored payment method at a time. This can be a credit card, PayPal, or bank account. Billing info is usually filled out by the customer upon purchase or when they update their information.",
      "x-displayName": "Billing Info"
    },
    {
      "name": "subscription",
      "description": "Subscriptions are created when your customers subscribe to one of your plans. The customer's subscription tells Recurly when and how much to bill the customer.",
      "x-displayName": "Subscription"
    },
    {
      "name": "subscription_change",
      "description": "Subscription changes alter subscription in a way that might affect the invoiced amount, such as changing the plan, add-ons, quantities, or shipping address. Changes can be made immediately in the current billing cycle or scheduled to take place at the next renewal.",
      "x-displayName": "Subscription Change"
    },
    {
      "name": "shipping_address",
      "description": "Shipping addresses are tied to a customer's account. Each account can have up to 20 different shipping addresses, and if you have enabled multiple subscriptions per account, you can associate different shipping addresses to each subscription.",
      "x-displayName": "Shipping Address"
    },
    {
      "name": "invoice",
      "description": "An invoice relates charges, credits, and payments together. When a subscription is created or renewed or a charge is created on the account, Recurly will sum the charges, discount or tax as appropriate, and send the invoice out for collection.",
      "x-displayName": "Invoice"
    },
    {
      "name": "line_item",
      "description": "Line items are the charges and credits on your customer's invoices.",
      "x-displayName": "Line Item"
    },
    {
      "name": "credit_payment",
      "x-displayName": "Credit Payment"
    },
    {
      "name": "purchase",
      "description": "A purchase is a checkout containing at least one or more subscriptions or one-time charges (line items) and supports both coupon and gift card redemptions. All items purchased will be on one invoice and paid for with one transaction.",
      "x-displayName": "Purchase"
    },
    {
      "name": "transaction",
      "description": "Purchasing information is sent to your payment gateway in an action called a transaction. This includes the customer's billing information and the amount of money to be charged, voided, or refunded.",
      "x-displayName": "Transaction"
    },
    {
      "name": "coupon",
      "description": "Coupons can either be single codes that easily allow mass distribution by many customers or bulk coupons that can generate many unique coupons that can allow for individual delivery and tracking.",
      "x-displayName": "Coupon"
    },
    {
      "name": "coupon_redemption",
      "description": "Coupon redemptions are created when a coupon is applied to an account. This allows you to track your promotions.",
      "x-displayName": "Coupon Redemption"
    },
    {
      "name": "unique_coupon_code",
      "description": "Unique coupon codes are generated from bulk coupons.",
      "x-displayName": "Unique Coupon Code"
    },
    {
      "name": "shipping_method",
      "description": "Shipping methods offered to send products to customers.",
      "x-displayName": "Shipping Method"
    }
  ],
  "paths": {
    "/sites": {
      "get": {
        "tags": [
          "site"
        ],
        "summary": "List sites",
        "description": "This route is most useful for finding a site's ID for subsequent requests.",
        "operationId": "list_sites",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "Filter results by their IDs. Up to 200 IDs can be passed at once using\ncommas as separators, e.g. `ids=h1at4d57xlmy,gyqgg0d3v9n1,jrsm5b4yefg6`.\n\n**Important notes:**\n\n* The `ids` parameter cannot be used with any other ordering or filtering\n  parameters (`limit`, `order`, `sort`, `begin_time`, `end_time`, etc)\n* Invalid or unknown IDs will be ignored, so you should check that the\n  results correspond to your request.\n* Records are returned in an arbitrary order. Since results are all\n  returned at once you can sort the records yourself.\n",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit number of records 1-200.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 200,
              "minimum": 1,
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field. You *really* only want to sort by `updated_at` in ascending\norder. In descending order updated records will move behind the cursor and could\nprevent some records from being returned.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "created_at",
              "enum": [
                "created_at",
                "updated_at"
              ]
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Filter by state.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of sites.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or unpermitted parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Node.js",
            "source": "const sites = client.listSites({ limit: 200 })\n\nfor await (const site of sites.each()) {\n  console.log(site.subdomain)\n}\n"
          },
          {
            "lang": "Python",
            "source": "sites = client.list_sites(limit=200).items()\nfor site in sites:\n    print(site.subdomain)\n"
          },
          {
            "lang": ".NET",
            "source": "var sites = client.ListSites(limit: 200);\nforeach(Site site in sites)\n{\n    Console.WriteLine(site.Subdomain);\n}\n"
          },
          {
            "lang": "Ruby",
            "source": "sites = @client.list_sites(limit: 200)\nsites.each do |site|\n  puts \"Site: #{site.subdomain}\"\nend\n"
          },
          {
            "lang": "Java",
            "source": "QueryParams params = new QueryParams();\nparams.setLimit(200); // Pull 200 records at a time\nfinal Pager<Site> sites = client.listSites(params);\n\nfor (Site site : sites) {\n    System.out.println(site.getSubdomain());\n}\n"
          },
          {
            "lang": "PHP",
            "source": "$params = ['limit' => 200];\n$sites = $client->listSites($params);\n\nforeach($sites as $site) {\n  echo 'Site: ' . $site->getSubdomain() . PHP_EOL;\n}\n"
          },
          {
            "lang": "Go",
            "source": "listParams := &recurly.ListSitesParams{\n\tSort:  recurly.String(\"created_at\"),\n\tOrder: recurly.String(\"asc\"),\n\tLimit: recurly.Int(200),\n}\n\nsites := client.ListSites(listParams)\n\nfor sites.HasMore {\n\terr := sites.Fetch()\n\tif e, ok := err.(*recurly.Error); ok {\n\t\tfmt.Printf(\"Failed to retrieve next page: %v\", e)\n\t\tbreak\n\t}\n\tfor i, site := range sites.Data {\n\t\tfmt.Printf(\"Site %3d: %s, %s\\n\",\n\t\t\ti,\n\t\t\tsite.Id,\n\t\t\tsite.Subdomain,\n\t\t)\n\t}\n}"
          }
        ]
      }
    },
    "/sites/{site_id}": {
      "get": {
        "tags": [
          "site"
        ],
        "summary": "Fetch a site",
        "operationId": "get_site",
        "parameters": [
          {
            "name": "site_id",
            "in": "path",
            "description": "Site ID or subdomain. For ID no prefix is used e.g. `e28zov4fw0v2`. For subdomain use prefix `subdomain-`, e.g. `subdomain-recurly`.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A site.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            }
          },
          "404": {
            "description": "Incorrect site ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Node.js",
            "source": "try {\n  const site = await client.getSite(siteId)\n  console.log('Fetched site: ', site)\n} catch (err) {\n  if (err instanceof recurly.errors.NotFoundError) {\n    // If the request was not found, you may want to alert the user or\n    // just return null\n    console.log('Resource Not Found')\n  } else {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    console.log('Unknown Error: ', err)\n  }\n}\n"
          },
          {
            "lang": "Python",
            "source": "try:\n    site = client.get_site(site_id)\n    print(\"Got Site %s\" % site)\nexcept recurly.errors.NotFoundError:\n    # If the resource was not found, you may want to alert the user or\n    # just return nil\n    print(\"Resource Not Found\")\n"
          },
          {
            "lang": ".NET",
            "source": "try\n{\n    Site site = client.GetSite(siteId);\n    Console.WriteLine($\"Fetched site {site.Id}\");\n}\ncatch (Recurly.Errors.NotFound ex)\n{\n    // If the resource was not found\n    // we may want to alert the user or just return null\n    Console.WriteLine($\"Resource Not Found: {ex.Error.Message}\");\n}\ncatch (Recurly.Errors.ApiError ex)\n{\n    // Use ApiError to catch a generic error from the API\n    Console.WriteLine($\"Unexpected Recurly Error: {ex.Error.Message}\");\n}\n"
          },
          {
            "lang": "Ruby",
            "source": "begin\n  site = @client.get_site(site_id: site_id)\n  puts \"Got Site #{site}\"\nrescue Recurly::Errors::NotFoundError\n  # If the resource was not found, you may want to alert the user or\n  # just return nil\n  puts \"Resource Not Found\"\nend\n"
          },
          {
            "lang": "Java",
            "source": "try {\n    final Site site = client.getSite(siteId);\n    System.out.println(\"Fetched site: \" + site.getId());\n  } catch (NotFoundException e) {\n    // If the resource was not found\n    // we may want to alert the user or just return null\n    System.out.println(\"Resource Not Found: \" + e.getError().getMessage());\n} catch (ApiException e) {\n    // Use ApiException to catch a generic error from the API\n    System.out.println(\"Unexpected Recurly Error: \" + e.getError().getMessage());\n}\n"
          },
          {
            "lang": "PHP",
            "source": "try {\n    $site = $client->getSite($site_id);\n\n    echo 'Got Site:' . PHP_EOL;\n    var_dump($site);\n} catch (\\Recurly\\Errors\\NotFound $e) {\n    // Could not find the resource, you may want to inform the user\n    // or just return a NULL\n    echo 'Could not find resource.' . PHP_EOL;\n    var_dump($e);\n} catch (\\Recurly\\RecurlyError $e) {\n    // Something bad happened... tell the user so that they can fix it?\n    echo 'Some unexpected Recurly error happened. Try again later.' . PHP_EOL;\n}\n"
          },
          {
            "lang": "Go",
            "source": "site, err := client.GetSite(siteID)\nif e, ok := err.(*recurly.Error); ok {\n\tif e.Type == recurly.ErrorTypeNotFound {\n\t\tfmt.Printf(\"Resource not found: %v\", e)\n\t\treturn nil, err\n\t}\n\tfmt.Printf(\"Unexpected Recurly error: %v\", e)\n\treturn nil, err\n}\nfmt.Printf(\"Fetched Site: %s\", site.Id)"
          }
        ]
      }
    },
    "/sites/{site_id}/accounts": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "List a site's accounts",
        "operationId": "list_accounts",
        "parameters": [
          {
            "name": "site_id",
            "in": "path",
            "description": "Site ID or subdomain. For ID no prefix is used e.g. `e28zov4fw0v2`. For subdomain use prefix `subdomain-`, e.g. `subdomain-recurly`.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Filter results by their IDs. Up to 200 IDs can be passed at once using\ncommas as separators, e.g. `ids=h1at4d57xlmy,gyqgg0d3v9n1,jrsm5b4yefg6`.\n\n**Important notes:**\n\n* The `ids` parameter cannot be used with any other ordering or filtering\n  parameters (`limit`, `order`, `sort`, `begin_time`, `end_time`, etc)\n* Invalid or unknown IDs will be ignored, so you should check that the\n  results correspond to your request.\n* Records are returned in an arbitrary order. Since results are all\n  returned at once you can sort the records yourself.\n",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit number of records 1-200.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 200,
              "minimum": 1,
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field. You *really* only want to sort by `updated_at` in ascending\norder. In descending order updated records will move behind the cursor and could\nprevent some records from being returned.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "created_at",
              "enum": [
                "created_at",
                "updated_at"
              ]
            }
          },
          {
            "name": "begin_time",
            "in": "query",
            "description": "Filter by begin_time when `sort=created_at` or `sort=updated_at`.\n**Note:** this value is an ISO8601 timestamp. A partial timestamp that does not include a time zone will default to UTC.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "Filter by end_time when `sort=created_at` or `sort=updated_at`.\n**Note:** this value is an ISO8601 timestamp. A partial timestamp that does not include a time zone will default to UTC.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Filter for accounts with this exact email address. A blank value will return accounts with both `null` and `\"\"` email addresses. Note that multiple accounts can share one email address.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriber",
            "in": "query",
            "description": "Filter for accounts with or without a subscription in the `active`,\n`canceled`, or `future` state.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "past_due",
            "in": "query",
            "description": "Filter for accounts with an invoice in the `past_due` state.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of the site's accounts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or unpermitted parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Incorrect site ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Node.js",
            "source": "const accounts = client.listAccounts({ limit: 200 })\n\nfor await (const account of accounts.each()) {\n  console.log(account.code)\n}\n"
          },
          {
            "lang": "Python",
            "source": "accounts = client.list_accounts(limit=200).items()\nfor account in accounts:\n    print(account.code)\n"
          },
          {
            "lang": ".NET",
            "source": "var accounts = client.ListAccounts(limit: 200);\nforeach(Account account in accounts)\n{\n    Console.WriteLine(account.Code);\n}\n"
          },
          {
            "lang": "Ruby",
            "source": "accounts = @client.list_accounts(limit: 200)\naccounts.each do |account|\n  puts \"Account: #{account.code}\"\nend\n"
          },
          {
            "lang": "Java",
            "source": "QueryParams params = new QueryParams();\nparams.setLimit(200); // Pull 200 records at a time\nPager<Account> accounts = client.listAccounts(params);\n\nfor (Account acct : accounts) {\n    System.out.println(acct.getCode());\n}\n"
          },
          {
            "lang": "PHP",
            "source": "$params = [\n    'limit' => 200,\n];\n$accounts = $client->listAccounts($params);\n\nforeach($accounts as $account) {\n    echo 'Account code: ' . $account->getCode() . PHP_EOL;\n}\n"
          },
          {
            "lang": "Go",
            "source": "listParams := &recurly.ListAccountsParams{\n\tSort:  recurly.String(\"created_at\"),\n\tOrder: recurly.String(\"desc\"),\n\tLimit: recurly.Int(200),\n}\naccounts := client.ListAccounts(listParams)\n\nfor accounts.HasMore {\n\terr := accounts.Fetch()\n\tif e, ok := err.(*recurly.Error); ok {\n\t\tfmt.Printf(\"Failed to retrieve next page: %v\", e)\n\t\tbreak\n\t}\n\tfor i, account := range accounts.Data {\n\t\tfmt.Printf(\"Account %3d: %s, %s\\n\",\n\t\t\ti,\n\t\t\taccount.Id,\n\t\t\taccount.Code,\n\t\t)\n\t}\n}"
          }
        ]
      },
      "post": {
        "tags": [
          "account"
        ],
        "summary": "Create an account",
        "operationId": "create_account",
        "parameters": [
          {
            "name": "site_id",
            "in": "path",
            "description": "Site ID or subdomain. For ID no prefix is used e.g. `e28zov4fw0v2`. For subdomain use prefix `subdomain-`, e.g. `subdomain-recurly`.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "An account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Bad request, perhaps invalid JSON?",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Incorrect site ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid parameters or an error running the billing info verification transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Node.js",
            "source": "try {\n  const accountCreate = {\n    code: accountCode,\n    firstName: 'Benjamin',\n    lastName: 'Du Monde',\n    address: {\n      street1: '900 Camp St',\n      city: 'New Orleans',\n      region: 'LA',\n      postalCode: '70115',\n      country: 'US'\n    }\n  }\n  const account = await client.createAccount(accountCreate)\n  console.log('Created Account: ', account.code)\n} catch (err) {\n  if (err instanceof recurly.errors.ValidationError) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in err.params\n    console.log('Failed validation', err.params)\n  } else {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    console.log('Unknown Error: ', err)\n  }\n}\n"
          },
          {
            "lang": "Python",
            "source": "try:\n    account_create = {\n        \"code\": account_code,\n        \"first_name\": \"Benjamin\",\n        \"last_name\": \"Du Monde\",\n        \"acquisition\": {\n            \"campaign\": \"podcast-marketing\",\n            \"channel\": \"social_media\",\n            \"subchannel\": \"twitter\",\n            \"cost\": {\"currency\": \"USD\", \"amount\": 0.50},\n        },\n        \"shipping_addresses\": [\n            {\n                \"nickname\": \"Home\",\n                \"street1\": \"1 Tchoupitoulas St\",\n                \"city\": \"New Orleans\",\n                \"region\": \"LA\",\n                \"country\": \"US\",\n                \"postal_code\": \"70115\",\n                \"first_name\": \"Aaron\",\n                \"last_name\": \"Du Monde\",\n            }\n        ],\n    }\n    account = client.create_account(account_create)\n    print(\"Created Account %s\" % account)\nexcept recurly.errors.ValidationError as e:\n    # If the request was invalid, you may want to tell your user\n    # why. You can find the invalid params and reasons in e.error.params\n    print(\"ValidationError: %s\" % e.error.message)\n    print(e.error.params)\n"
          },
          {
            "lang": ".NET",
            "source": "try\n{\n    var accountReq = new AccountCreate()\n    {\n        Code = accountCode,\n        FirstName = \"Benjamin\",\n        LastName = \"Du Monde\",\n        Address = new Address()\n        {\n            City = \"New Orleans\",\n            Region = \"LA\",\n            Country = \"US\",\n            PostalCode = \"70115\",\n            Street1 = \"900 Camp St.\"\n        }\n    };\n    Account account = client.CreateAccount(accountReq);\n    Console.WriteLine($\"Created account {account.Code}\");\n}\ncatch (Recurly.Errors.Validation ex)\n{\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in ex.Error.Params\n    Console.WriteLine($\"Failed validation: {ex.Error.Message}\");\n}\ncatch (Recurly.Errors.ApiError ex)\n{\n    // Use ApiError to catch a generic error from the API\n    Console.WriteLine($\"Unexpected Recurly Error: {ex.Error.Message}\");\n}\n"
          },
          {
            "lang": "Ruby",
            "source": "begin\n  account_create = {\n    code: account_code,\n    first_name: \"Benjamin\",\n    last_name: \"Du Monde\",\n    acquisition: {\n      campaign: \"podcast-marketing\",\n      channel: \"social_media\",\n      subchannel: \"twitter\",\n      cost: {\n        currency: \"USD\",\n        amount: 0.50\n      }\n    },\n    shipping_addresses: [\n      {\n        nickname: \"Home\",\n        street1: \"1 Tchoupitoulas St\",\n        city: \"New Orleans\",\n        region: \"LA\",\n        country: \"US\",\n        postal_code: \"70115\",\n        first_name: \"Benjamin\",\n        last_name: \"Du Monde\"\n      }\n    ]\n  }\n  account = @client.create_account(body: account_create)\n  puts \"Created Account #{account}\"\nrescue Recurly::Errors::ValidationError => e\n  # If the request was invalid, you may want to tell your user\n  # why. You can find the invalid params and reasons in e.recurly_error.params\n  puts \"ValidationError: #{e.recurly_error.params}\"\nend\n"
          },
          {
            "lang": "Java",
            "source": "try {\n    AccountCreate accountReq = new AccountCreate();\n    Address address = new Address();\n\n    accountReq.setCode(accountCode);\n    accountReq.setFirstName(\"Aaron\");\n    accountReq.setLastName(\"Du Monde\");\n\n    address.setStreet1(\"900 Camp St.\");\n    address.setCity(\"New Orleans\");\n    address.setRegion(\"LA\");\n    address.setCountry(\"US\");\n    address.setPostalCode(\"70115\");\n\n    accountReq.setAddress(address);\n\n    Account account = client.createAccount(accountReq);\n    System.out.println(\"Created account \" + account.getCode());\n} catch (ValidationException e) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in e.getError().getParams()\n    System.out.println(\"Failed validation: \" + e.getError().getMessage());\n} catch (ApiException e) {\n    // Use ApiException to catch a generic error from the API\n    System.out.println(\"Unexpected Recurly Error: \" + e.getError().getMessage());\n}\n"
          },
          {
            "lang": "PHP",
            "source": "try {\n    $account_create = array(\n        \"code\" => $account_code,\n        \"first_name\" => \"Douglas\",\n        \"last_name\" => \"DuMonde\",\n        \"shipping_addresses\" => [\n            [\n                \"first_name\" => \"Douglas\",\n                \"last_name\" => \"DuMonde\",\n                \"nickname\" => \"nola\",\n                \"street1\" => \"1 Tchoupitoulas\",\n                \"city\" => \"New Orleans\",\n                \"postal_code\" => \"70130\",\n                \"country\" => \"US\"\n            ]\n        ]\n    );\n\n    $account = $client->createAccount($account_create);\n\n    echo 'Created Account:' . PHP_EOL;\n    var_dump($account);\n} catch (\\Recurly\\Errors\\Validation $e) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in err.params\n    var_dump($e);\n} catch (\\Recurly\\RecurlyError $e) {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    var_dump($e);\n}\n"
          },
          {
            "lang": "Go",
            "source": "accountReq := &recurly.AccountCreate{\n\tCode:      &accountCode,\n\tFirstName: recurly.String(\"Isaac\"),\n\tLastName:  recurly.String(\"Du Monde\"),\n\tEmail:     recurly.String(\"isaac@example.com\"),\n\tBillingInfo: &recurly.BillingInfoCreate{\n\t\tFirstName: recurly.String(\"Isaac\"),\n\t\tLastName:  recurly.String(\"Du Monde\"),\n\t\tAddress: &recurly.AddressCreate{\n\t\t\tPhone:      recurly.String(\"415-555-5555\"),\n\t\t\tStreet1:    recurly.String(\"400 Alabama St.\"),\n\t\t\tCity:       recurly.String(\"San Francisco\"),\n\t\t\tPostalCode: recurly.String(\"94110\"),\n\t\t\tCountry:    recurly.String(\"US\"),\n\t\t\tRegion:     recurly.String(\"CA\"),\n\t\t},\n\t\tNumber: recurly.String(\"4111111111111111\"),\n\t\tMonth:  recurly.String(\"12\"),\n\t\tYear:   recurly.String(\"22\"),\n\t\tCvv:    recurly.String(\"123\"),\n\t},\n}\n\naccount, err := client.CreateAccount(accountReq)\nif e, ok := err.(*recurly.Error); ok {\n\tif e.Type == recurly.ErrorTypeValidation {\n\t\tfmt.Printf(\"Failed validation: %v\", e)\n\t\treturn nil, err\n\t}\n\tfmt.Printf(\"Unexpected Recurly error: %v\", e)\n\treturn nil, err\n}\nfmt.Printf(\"Created Account: %s\", account.Id)"
          }
        ]
      }
    },
    "/sites/{site_id}/accounts/{account_id}": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "Fetch an account",
        "operationId": "get_account",
        "parameters": [
          {
            "name": "site_id",
            "in": "path",
            "description": "Site ID or subdomain. For ID no prefix is used e.g. `e28zov4fw0v2`. For subdomain use prefix `subdomain-`, e.g. `subdomain-recurly`.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_id",
            "in": "path",
            "description": "Account ID or code. For ID no prefix is used e.g. `e28zov4fw0v2`. For code use prefix `code-`, e.g. `code-bob`.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Node.js",
            "source": "try {\n  const account = await client.getAccount(accountId)\n  console.log('Fetched account: ', account.code)\n} catch (err) {\n  if (err instanceof recurly.errors.NotFoundError) {\n    // If the request was not found, you may want to alert the user or\n    // just return null\n    console.log('Resource Not Found')\n  } else {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    console.log('Unknown Error: ', err)\n  }\n}\n"
          },
          {
            "lang": "Python",
            "source": "try:\n    account = client.get_account(account_id)\n    print(\"Got Account %s\" % account)\nexcept recurly.errors.NotFoundError:\n    # If the resource was not found, you may want to alert the user or\n    # just return nil\n    print(\"Resource Not Found\")\n"
          },
          {
            "lang": ".NET",
            "source": "try\n{\n    Account account = client.GetAccount(accountId);\n    Console.WriteLine($\"Fetched account {account.Code}\");\n}\ncatch (Recurly.Errors.NotFound ex)\n{\n    // If the resource was not found\n    // we may want to alert the user or just return null\n    Console.WriteLine($\"Resource Not Found: {ex.Error.Message}\");\n}\ncatch (Recurly.Errors.ApiError ex)\n{\n    // Use ApiError to catch a generic error from the API\n    Console.WriteLine($\"Unexpected Recurly Error: {ex.Error.Message}\");\n}\n"
          },
          {
            "lang": "Ruby",
            "source": "begin\n  account = @client.get_account(account_id: account_id)\n  puts \"Got Account #{account}\"\nrescue Recurly::Errors::NotFoundError\n  # If the resource was not found, you may want to alert the user or\n  # just return nil\n  puts \"Resource Not Found\"\nend\n"
          },
          {
            "lang": "Java",
            "source": "try {\n    final Account account = client.getAccount(accountId);\n    System.out.println(\"Fetched account: \" + account.getCode());\n} catch (NotFoundException e) {\n    // If the resource was not found\n    // we may want to alert the user or just return null\n    System.out.println(\"Resource Not Found: \" + e.getError().getMessage());\n} catch (ApiException e) {\n    // Use ApiException to catch a generic error from the API\n    System.out.println(\"Unexpected Recurly Error: \" + e.getError().getMessage());\n}\n"
          },
          {
            "lang": "PHP",
            "source": "try {\n    $account = $client->getAccount($account_id);\n\n    echo 'Got Account:' . PHP_EOL;\n    var_dump($account);\n} catch (\\Recurly\\Errors\\NotFound $e) {\n    // Could not find the resource, you may want to inform the user\n    // or just return a NULL\n    echo 'Could not find resource.' . PHP_EOL;\n    var_dump($e);\n} catch (\\Recurly\\RecurlyError $e) {\n    // Something bad happened... tell the user so that they can fix it?\n    echo 'Some unexpected Recurly error happened. Try again later.' . PHP_EOL;\n}\n"
          },
          {
            "lang": "Go",
            "source": "account, err := client.GetAccount(accountID)\nif e, ok := err.(*recurly.Error); ok {\n\tif e.Type == recurly.ErrorTypeNotFound {\n\t\tfmt.Printf(\"Resource not found: %v\", e)\n\t\treturn nil, err\n\t}\n\tfmt.Printf(\"Unexpected Recurly error: %v\", e)\n\treturn nil, err\n}\nfmt.Println(\"Fetched Account \", account.Id)"
          }
        ]
      },
      "put": {
        "tags": [
          "account"
        ],
        "summary": "Modify an account",
        "operationId": "update_account",
        "parameters": [
          {
            "name": "site_id",
            "in": "path",
            "description": "Site ID or subdomain. For ID no prefix is used e.g. `e28zov4fw0v2`. For subdomain use prefix `subdomain-`, e.g. `subdomain-recurly`.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_id",
            "in": "path",
            "description": "Account ID or code. For ID no prefix is used e.g. `e28zov4fw0v2`. For code use prefix `code-`, e.g. `code-bob`.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "An account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Bad request, perhaps invalid JSON?",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Incorrect site or account ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid parameters or an error running the billing info verification transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMayHaveTransaction"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Node.js",
            "source": "try {\n  const accountUpdate = {\n    firstName: 'Aaron',\n    lastName: 'Du Monde'\n  }\n  const account = await client.updateAccount(accountId, accountUpdate)\n  console.log('Updated account: ', account)\n} catch (err) {\n  if (err instanceof recurly.errors.ValidationError) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in err.params\n    console.log('Failed validation', err.params)\n  } else {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    console.log('Unknown Error: ', err)\n  }\n}\n"
          },
          {
            "lang": "Python",
            "source": "try:\n    account_update = {\"first_name\": \"Aaron\", \"last_name\": \"Du Monde\"}\n    account = client.update_account(account_id, account_update)\n    print(\"Updated Account %s\" % account)\nexcept recurly.errors.ValidationError as e:\n    # If the request was invalid, you may want to tell your user\n    # why. You can find the invalid params and reasons in e.error.params\n    print(\"ValidationError: %s\" % e.error.message)\n    print(e.error.params)\n"
          },
          {
            "lang": ".NET",
            "source": "try\n{\n    var accountReq = new AccountUpdate() {\n        FirstName = \"Aaron\",\n        LastName = \"Du Monde\"\n    };\n    Account account = client.UpdateAccount(accountId, accountReq);\n    Console.WriteLine(account.FirstName);\n    Console.WriteLine(account.LastName);\n}\ncatch (Recurly.Errors.Validation ex)\n{\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in ex.Error.Params\n    Console.WriteLine($\"Failed validation: {ex.Error.Message}\");\n}\ncatch (Recurly.Errors.ApiError ex)\n{\n    // Use ApiError to catch a generic error from the API\n    Console.WriteLine($\"Unexpected Recurly Error: {ex.Error.Message}\");\n}\n"
          },
          {
            "lang": "Ruby",
            "source": "begin\n  account_update = {\n    first_name: \"Aaron\",\n    last_name: \"Du Monde\",\n  }\n  account = @client.update_account(\n    account_id: account_id,\n    body: account_update\n  )\n  puts \"Updated Account #{account}\"\nrescue Recurly::Errors::ValidationError => e\n  # If the request was invalid, you may want to tell your user\n  # why. You can find the invalid params and reasons in e.recurly_error.params\n  puts \"ValidationError: #{e.recurly_error.params}\"\nend\n"
          },
          {
            "lang": "Java",
            "source": "try {\n    final AccountUpdate accountUpdate = new AccountUpdate();\n    accountUpdate.setFirstName(\"Aaron\");\n    accountUpdate.setLastName(\"Du Monde\");\n\n    final Account account = client.updateAccount(accountId, accountUpdate);\n    System.out.println(\"Updated account: \" + account.getCode());\n    System.out.println(account.getFirstName());\n    System.out.println(account.getLastName());\n} catch (ValidationException e) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in e.getError().getParams()\n    System.out.println(\"Failed validation: \" + e.getError().getMessage());\n} catch (ApiException e) {\n    // Use ApiException to catch a generic error from the API\n    System.out.println(\"Unexpected Recurly Error: \" + e.getError().getMessage());\n}\n"
          },
          {
            "lang": "PHP",
            "source": "try {\n    $account_update = array(\n        \"first_name\" => \"Douglas\",\n        \"last_name\" => \"Du Monde\",\n    );\n\n    $account = $client->updateAccount($account_id, $account_update);\n\n    echo 'Updated Account:' . PHP_EOL;\n    var_dump($account);\n} catch (\\Recurly\\Errors\\Validation $e) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in err.params\n    var_dump($e);\n} catch (\\Recurly\\RecurlyError $e) {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    var_dump($e);\n}\n"
          },
          {
            "lang": "Go",
            "source": "updateReq := &recurly.AccountUpdate{\n\tFirstName: recurly.String(\"Joanna\"),\n\tLastName:  recurly.String(\"DuMonde\"),\n}\naccount, err := client.UpdateAccount(accountID, updateReq)\nif e, ok := err.(*recurly.Error); ok {\n\tif e.Type == recurly.ErrorTypeValidation {\n\t\tfmt.Printf(\"Failed validation: %v\", e)\n\t\treturn nil, err\n\t}\n\tfmt.Printf(\"Unexpected Recurly error: %v\", e)\n\treturn nil, err\n}\nfmt.Printf(\"Updated Account: %s\", account.Id)"
          }
        ]
      },
      "delete": {
        "tags": [
          "account"
        ],
        "summary": "Deactivate an account",
        "description": "Deactivating an account permanently deletes its billing information and cancels any active subscriptions (canceled subscriptions will remain active until the end of the current billing cycle before expiring). We recommend closing accounts only when all business is concluded with a customer.",
        "operationId": "deactivate_account",
        "parameters": [
          {
            "name": "site_id",
            "in": "path",
            "description": "Site ID or subdomain. For ID no prefix is used e.g. `e28zov4fw0v2`. For subdomain use prefix `subdomain-`, e.g. `subdomain-recurly`.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_id",
            "in": "path",
            "description": "Account ID or code. For ID no prefix is used e.g. `e28zov4fw0v2`. For code use prefix `code-`, e.g. `code-bob`.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "422": {
            "description": "Account may already be inactive.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Node.js",
            "source": "try {\n  const account = await client.deactivateAccount(accountId)\n  console.log('Deleted account: ', account.code)\n} catch (err) {\n  if (err && err.type === 'not-found') {\n    // If the request was not found, you may want to alert the user or\n    // just return null\n    console.log('Resource Not Found')\n  }\n  // If we don't know what to do with the err, we should\n  // probably re-raise and let our web framework and logger handle it\n  throw err\n}\n"
          },
          {
            "lang": "Python",
            "source": "try:\n    account = client.deactivate_account(account_id)\n    print(\"Deactivated Account %s\" % account)\nexcept recurly.errors.NotFoundError:\n    # If the resource was not found, you may want to alert the user or\n    # just return nil\n    print(\"Resource Not Found\")\n"
          },
          {
            "lang": ".NET",
            "source": "try\n{\n    Account account = client.DeactivateAccount(accountId);\n    Console.WriteLine($\"Deactivated account {account.Code}\");\n}\ncatch (Recurly.Errors.Validation ex)\n{\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in ex.Error.Params\n    Console.WriteLine($\"Failed validation: {ex.Error.Message}\");\n}\ncatch (Recurly.Errors.ApiError ex)\n{\n    // Use ApiError to catch a generic error from the API\n    Console.WriteLine($\"Unexpected Recurly Error: {ex.Error.Message}\");\n}\n"
          },
          {
            "lang": "Ruby",
            "source": "begin\n  account = @client.deactivate_account(account_id: account_id)\n  puts \"Deactivated Account #{account}\"\nrescue Recurly::Errors::NotFoundError\n  # If the resource was not found, you may want to alert the user or\n  # just return nil\n  puts \"Resource Not Found\"\nend\n"
          },
          {
            "lang": "Java",
            "source": "try {\n    Account account = client.deactivateAccount(accountId);\n    System.out.println(\"deactivated account \" + account.getCode());\n} catch (ValidationException e) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in e.getError().getParams()\n    System.out.println(\"Failed validation: \" + e.getError().getMessage());\n} catch (ApiException e) {\n    // Use ApiException to catch a generic error from the API\n    System.out.println(\"Unexpected Recurly Error: \" + e.getError().getMessage());\n}\n"
          },
          {
            "lang": "PHP",
            "source": "try {\n    $account = $client->deactivateAccount($account_id);\n\n    echo 'Deactivated Account:' . PHP_EOL;\n    var_dump($account);\n} catch (\\Recurly\\Errors\\NotFound $e) {\n    // Could not find the resource, you may want to inform the user\n    // or just return a NULL\n    echo 'Could not find resource.' . PHP_EOL;\n    var_dump($e);\n} catch (\\Recurly\\RecurlyError $e) {\n    // Something bad happened... tell the user so that they can fix it?\n    echo 'Some unexpected Recurly error happened. Try again later.' . PHP_EOL;\n}\n"
          },
          {
            "lang": "Go",
            "source": "account, err := client.DeactivateAccount(accountID)\nif e, ok := err.(*recurly.Error); ok {\n\tif e.Type == recurly.ErrorTypeNotFound {\n\t\tfmt.Printf(\"Resource not found: %v\", e)\n\t\treturn nil, err\n\t}\n\tfmt.Printf(\"Unexpected Recurly error: %v\", e)\n\treturn nil, err\n}\nfmt.Printf(\"Deactivated Account: %s\", account.Id)"
          }
        ]
      }
    },
    "/sites/{site_id}/accounts/{account_id}/acquisition": {
      "get": {
        "tags": [
          "account",
          "account_acquisition"
        ],
        "summary": "Fetch an account's acquisition data",
        "operationId": "get_account_acquisition",
        "parameters": [
          {
            "name": "site_id",
            "in": "path",
            "description": "Site ID or subdomain. For ID no prefix is used e.g. `e28zov4fw0v2`. For subdomain use prefix `subdomain-`, e.g. `subdomain-recurly`.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_id",
            "in": "path",
            "description": "Account ID or code. For ID no prefix is used e.g. `e28zov4fw0v2`. For code use prefix `code-`, e.g. `code-bob`.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An account's acquisition data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountAcquisition"
                }
              }
            }
          },
          "404": {
            "description": "Account has no acquisition data, or incorrect site or account ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Node.js",
            "source": "try {\n  const acquisition = await client.getAccountAcquisition(accountId)\n  console.log('Fetched account acquisition: ', acquisition.id)\n} catch (err) {\n  if (err instanceof recurly.errors.NotFoundError) {\n    // If the request was not found, you may want to alert the user or\n    // just return null\n    console.log('Resource Not Found')\n  } else {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    console.log('Unknown Error: ', err)\n  }\n}\n"
          },
          {
            "lang": "Python",
            "source": "try:\n    acquisition = client.get_account_acquisition(account_id)\n    print(\"Got AccountAcquisition %s\" % acquisition)\nexcept recurly.errors.NotFoundError:\n    # If the resource was not found, you may want to alert the user or\n    # just return nil\n    print(\"Resource Not Found\")\n"
          },
          {
            "lang": ".NET",
            "source": "try\n{\n    AccountAcquisition acquisition = client.GetAccountAcquisition(accountId);\n    Console.WriteLine($\"Fetched account acquisition {acquisition.Id}\");\n}\ncatch (Recurly.Errors.NotFound ex)\n{\n    // If the resource was not found\n    // we may want to alert the user or just return null\n    Console.WriteLine($\"Resource Not Found: {ex.Error.Message}\");\n}\ncatch (Recurly.Errors.ApiError ex)\n{\n    // Use ApiError to catch a generic error from the API\n    Console.WriteLine($\"Unexpected Recurly Error: {ex.Error.Message}\");\n}\n"
          },
          {
            "lang": "Ruby",
            "source": "begin\n  @client.get_account_acquisition(account_id: account_id)\n  puts \"Got AccountAcquisition\"\nrescue Recurly::Errors::NotFoundError\n  # If the resource was not found, you may want to alert the user or\n  # just return nil\n  puts \"Resource Not Found\"\nend\n"
          },
          {
            "lang": "Java",
            "source": "try {\n    final AccountAcquisition acquisition = client.getAccountAcquisition(accountId);\n    System.out.println(\"Fetched account acquisition \" + acquisition.getId());\n} catch (NotFoundException e) {\n    // If the resource was not found\n    // we may want to alert the user or just return null\n    System.out.println(\"Resource Not Found: \" + e.getError().getMessage());\n} catch (ApiException e) {\n    // Use ApiException to catch a generic error from the API\n    System.out.println(\"Unexpected Recurly Error: \" + e.getError().getMessage());\n}\n"
          },
          {
            "lang": "PHP",
            "source": "try {\n    $acquisition = $client->getAccountAcquisition($account_id);\n\n    echo 'Got Account Acquisition:' . PHP_EOL;\n    var_dump($acquisition);\n} catch (\\Recurly\\Errors\\NotFound $e) {\n    // Could not find the resource, you may want to inform the user\n    // or just return a NULL\n    echo 'Could not find resource.' . PHP_EOL;\n    var_dump($e);\n} catch (\\Recurly\\RecurlyError $e) {\n    // Something bad happened... tell the user so that they can fix it?\n    echo 'Some unexpected Recurly error happened. Try again later.' . PHP_EOL;\n}\n"
          },
          {
            "lang": "Go",
            "source": "accountAcq, err := client.GetAccountAcquisition(accountID)\nif e, ok := err.(*recurly.Error); ok {\n\tif e.Type == recurly.ErrorTypeNotFound {\n\t\tfmt.Printf(\"Resource not found: %v\", e)\n\t\treturn nil, err\n\t}\n\tfmt.Printf(\"Unexpected Recurly error: %v\", e)\n\treturn nil, err\n}\nfmt.Printf(\"Fetched Account Acquisition: %v\", accountAcq.Id)"
          }
        ]
      },
      "put": {
        "tags": [
          "account",
          "account_acquisition"
        ],
        "summary": "Update an account's acquisition data",
        "operationId": "update_account_acquisition",
        "parameters": [
          {
            "name": "site_id",
            "in": "path",
            "description": "Site ID or subdomain. For ID no prefix is used e.g. `e28zov4fw0v2`. For subdomain use prefix `subdomain-`, e.g. `subdomain-recurly`.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_id",
            "in": "path",
            "description": "Account ID or code. For ID no prefix is used e.g. `e28zov4fw0v2`. For code use prefix `code-`, e.g. `code-bob`.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountAcquisitionUpdatable"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "An account's updated acquisition data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountAcquisition"
                }
              }
            }
          },
          "400": {
            "description": "Bad request; perhaps missing or invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Incorrect site or account ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "A validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Node.js",
            "source": "try {\n  const acquisitionUpdate = {\n    campaign: \"big-event-campaign\",\n    channel: \"social_media\",\n    subchannel: \"twitter\"\n  }\n  const accountAcquisition = await client.updateAccountAcquisition(accountId, acquisitionUpdate)\n  console.log('Edited Account Acquisition: ', accountAcquisition)\n} catch (err) {\n  if (err instanceof recurly.errors.ValidationError) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in err.params\n    console.log('Failed validation', err.params)\n  } else {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    console.log('Unknown Error: ', err)\n  }\n}\n"
          },
          {
            "lang": "Python",
            "source": "try:\n    acquisition_update = {\n        \"campaign\": \"podcast-marketing\",\n        \"channel\": \"social_media\",\n        \"subchannel\": \"twitter\",\n        \"cost\": {\"currency\": \"USD\", \"amount\": 0.50},\n    }\n    acquisition = client.update_account_acquisition(account_id, acquisition_update)\n    print(\"Updated AccountAcquisition %s\" % acquisition)\nexcept recurly.errors.ValidationError as e:\n    # If the request was invalid, you may want to tell your user\n    # why. You can find the invalid params and reasons in e.error.params\n    print(\"ValidationError: %s\" % e.error.message)\n    print(e.error.params)\n"
          },
          {
            "lang": ".NET",
            "source": "try\n{\n    var acquisitionReq = new AccountAcquisitionUpdatable()\n    {\n        Campaign = \"big-event-campaign\",\n        Channel = \"social_media\",\n        Subchannel = \"twitter\"\n    };\n    AccountAcquisition accountAcquisition = client.UpdateAccountAcquisition(accountId, acquisitionReq);\n    Console.WriteLine(accountAcquisition);\n}\ncatch (Recurly.Errors.Validation ex)\n{\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in ex.Error.Params\n    Console.WriteLine($\"Failed validation: {ex.Error.Message}\");\n}\ncatch (Recurly.Errors.ApiError ex)\n{\n    // Use ApiError to catch a generic error from the API\n    Console.WriteLine($\"Unexpected Recurly Error: {ex.Error.Message}\");\n}\n"
          },
          {
            "lang": "Ruby",
            "source": "begin\n  acquisition_update = {\n    campaign: \"podcast-marketing\",\n    channel: \"social_media\",\n    subchannel: \"twitter\",\n    cost: {\n      currency: \"USD\",\n      amount: 0.50\n    }\n  }\n  acquisition = @client.update_account_acquisition(\n    account_id: account_id,\n    body: acquisition_update\n  )\n  puts \"Updated AccountAcqusition #{acquisition}\"\nrescue Recurly::Errors::ValidationError => e\n  # If the request was invalid, you may want to tell your user\n  # why. You can find the invalid params and reasons in e.recurly_error.params\n  puts \"ValidationError: #{e.recurly_error.params}\"\nend\n"
          },
          {
            "lang": "Java",
            "source": "try {\n    final AccountAcquisitionUpdatable acqUpdate = new AccountAcquisitionUpdatable();\n    acqUpdate.setCampaign(\"big-event-campaign\");\n    acqUpdate.setChannel(\"social_media\");\n    acqUpdate.setSubchannel(\"twitter\");\n\n    final AccountAcquisition accountAcquisition = client.updateAccountAcquisition(accountId, acqUpdate);\n    System.out.println(accountAcquisition);\n} catch (ValidationException e) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in e.getError().getParams()\n    System.out.println(\"Failed validation: \" + e.getError().getMessage());\n} catch (ApiException e) {\n    // Use ApiException to catch a generic error from the API\n    System.out.println(\"Unexpected Recurly Error: \" + e.getError().getMessage());\n}\n"
          },
          {
            "lang": "PHP",
            "source": "try {\n    $acquisition_update = array(\n        \"campaign\" => \"big-event-campaign\",\n        \"channel\" => \"social_media\",\n        \"subchannel\" => \"twitter\"\n    );\n    $acquisition = $client->updateAccountAcquisition($account_id, $acquisition_update);\n\n    echo 'Updated AccountAcquisition:' . PHP_EOL;\n    var_dump($acquisition);\n} catch (\\Recurly\\Errors\\Validation $e) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in err.params\n    var_dump($e);\n} catch (\\Recurly\\RecurlyError $e) {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    var_dump($e);\n}\n"
          },
          {
            "lang": "Go",
            "source": "updateReq := &recurly.AccountAcquisitionUpdatable{\n\tCampaign:   recurly.String(\"big-event-campaign\"),\n\tChannel:    recurly.String(\"social_media\"),\n\tSubchannel: recurly.String(\"twitter\"),\n}\naccount, err := client.UpdateAccountAcquisition(accountID, updateReq)\nif e, ok := err.(*recurly.Error); ok {\n\tif e.Type == recurly.ErrorTypeValidation {\n\t\tfmt.Printf(\"Failed validation: %v\", e)\n\t\treturn nil, err\n\t}\n\tfmt.Printf(\"Unexpected Recurly error: %v\", e)\n\treturn nil, err\n}\nfmt.Printf(\"Updated Account Acquisition: %s\", account.Id)"
          }
        ]
      },
      "delete": {
        "tags": [
          "account",
          "account_acquisition"
        ],
        "summary": "Remove an account's acquisition data",
        "operationId": "remove_account_acquisition",
        "parameters": [
          {
            "name": "site_id",
            "in": "path",
            "description": "Site ID or subdomain. For ID no prefix is used e.g. `e28zov4fw0v2`. For subdomain use prefix `subdomain-`, e.g. `subdomain-recurly`.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_id",
            "in": "path",
            "description": "Account ID or code. For ID no prefix is used e.g. `e28zov4fw0v2`. For code use prefix `code-`, e.g. `code-bob`.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Acquisition data was succesfully deleted."
          },
          "404": {
            "description": "Incorrect site or account ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Node.js",
            "source": "try {\n  await client.removeAccountAcquisition(accountId)\n  console.log('Removed account acquisition from account: ', accountId)\n} catch (err) {\n  if (err instanceof recurly.errors.NotFoundError) {\n    // If the request was not found, you may want to alert the user or\n    // just return null\n    console.log('Resource Not Found')\n  } else {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    console.log('Unknown Error: ', err)\n  }\n}\n"
          },
          {
            "lang": "Python",
            "source": "try:\n    client.remove_account_acquisition(account_id)\n    print(\"Removed AccountAcquisition for Account id=%s\" % account_id)\nexcept recurly.errors.NotFoundError:\n    # If the resource was not found, you may want to alert the user or\n    # just return nil\n    print(\"Resource Not Found\")\n"
          },
          {
            "lang": ".NET",
            "source": "try\n{\n    client.RemoveAccountAcquisition(accountId);\n    Console.WriteLine($\"Removed account acquisition from account {accountId}\");\n}\ncatch (Recurly.Errors.Validation ex)\n{\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in ex.Error.Params\n    Console.WriteLine($\"Failed validation: {ex.Error.Message}\");\n}\ncatch (Recurly.Errors.ApiError ex)\n{\n    // Use ApiError to catch a generic error from the API\n    Console.WriteLine($\"Unexpected Recurly Error: {ex.Error.Message}\");\n}\n"
          },
          {
            "lang": "Ruby",
            "source": "begin\n  acquisition = @client.remove_account_acquisition(account_id: account_id)\n  puts \"Removed AccountAcqusition #{acquisition}\"\nrescue Recurly::Errors::NotFoundError\n  # If the resource was not found, you may want to alert the user or\n  # just return nil\n  puts \"Resource Not Found\"\nend\n"
          },
          {
            "lang": "Java",
            "source": "try {\n    client.removeAccountAcquisition(accountId);\n    System.out.println(\"Removed account acquisition from account \" + accountId);\n} catch (ValidationException e) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in e.getError().getParams()\n    System.out.println(\"Failed validation: \" + e.getError().getMessage());\n} catch (ApiException e) {\n    // Use ApiException to catch a generic error from the API\n    System.out.println(\"Unexpected Recurly Error: \" + e.getError().getMessage());\n}\n"
          },
          {
            "lang": "PHP",
            "source": "try {\n    $client->removeAccountAcquisition($account_id);\n    echo \"Removed Account Acquisition:\" . PHP_EOL;\n} catch (\\Recurly\\Errors\\Validation $e) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in err.params\n    var_dump($e);\n} catch (\\Recurly\\RecurlyError $e) {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    var_dump($e);\n}"
          },
          {
            "lang": "Go",
            "source": "client.RemoveAccountAcquisition(accountID)\nif e, ok := err.(*recurly.Error); ok {\n\tif e.Type == recurly.ErrorTypeNotFound {\n\t\tfmt.Printf(\"Resource not found: %v\", e)\n\t\treturn nil, err\n\t}\n\tfmt.Printf(\"Unexpected Recurly error: %v\", e)\n\treturn nil, err\n}\nfmt.Printf(\"Removed Account Acquisition: %s\", accountAcquisition.Id)"
          }
        ]
      }
    },
    "/sites/{site_id}/accounts/{account_id}/reactivate": {
      "put": {
        "tags": [
          "account"
        ],
        "summary": "Reactivate an inactive account",
        "description": "Reactivating an account will restore its history but the customer will need to provide new billing information to continue billing.",
        "operationId": "reactivate_account",
        "parameters": [
          {
            "name": "site_id",
            "in": "path",
            "description": "Site ID or subdomain. For ID no prefix is used e.g. `e28zov4fw0v2`. For subdomain use prefix `subdomain-`, e.g. `subdomain-recurly`.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_id",
            "in": "path",
            "description": "Account ID or code. For ID no prefix is used e.g. `e28zov4fw0v2`. For code use prefix `code-`, e.g. `code-bob`.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "404": {
            "description": "Incorrect site or account ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Account is already active.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Node.js",
            "source": "try {\n  const account = await client.reactivateAccount(accountId)\n  console.log('Reactivated account: ', account.code)\n} catch (err) {\n  if (err && err.type === 'not_found') {\n    // If the request was not found, you may want to alert the user or\n    // just return null\n    console.log('Resource Not Found')\n  }\n  // If we don't know what to do with the err, we should\n  // probably re-raise and let our web framework and logger handle it\n  throw err\n}\n"
          },
          {
            "lang": "Python",
            "source": "try:\n    account = client.reactivate_account(account_id)\n    print(\"Reactivated Account %s\" % account)\nexcept recurly.errors.NotFoundError:\n    # If the resource was not found, you may want to alert the user or\n    # just return nil\n    print(\"Resource Not Found\")\n"
          },
          {
            "lang": ".NET",
            "source": "try\n{\n    Account account = client.ReactivateAccount(accountId);\n    Console.WriteLine($\"Reactivated account {account.Code}\");\n}\ncatch (Recurly.Errors.Validation ex)\n{\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in ex.Error.Params\n    Console.WriteLine($\"Failed validation: {ex.Error.Message}\");\n}\ncatch (Recurly.Errors.ApiError ex)\n{\n    // Use ApiError to catch a generic error from the API\n    Console.WriteLine($\"Unexpected Recurly Error: {ex.Error.Message}\");\n}\n"
          },
          {
            "lang": "Ruby",
            "source": "begin\n  account = @client.reactivate_account(account_id: account_id)\n  puts \"Reactivated account #{account}\"\nrescue Recurly::Errors::NotFoundError\n  # If the resource was not found, you may want to alert the user or\n  # just return nil\n  puts \"Resource Not Found\"\nend\n"
          },
          {
            "lang": "Java",
            "source": "try {\n    final Account account = client.reactivateAccount(accountId);\n    System.out.println(\"Reactivated account: \" + account.getCode());\n} catch (ValidationException e) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in e.getError().getParams()\n    System.out.println(\"Failed validation: \" + e.getError().getMessage());\n} catch (ApiException e) {\n    // Use ApiException to catch a generic error from the API\n    System.out.println(\"Unexpected Recurly Error: \" + e.getError().getMessage());\n}\n"
          },
          {
            "lang": "PHP",
            "source": "try {\n    $account = $client->reactivateAccount($account_id);\n\n    echo 'Reactivated Account:' . PHP_EOL;\n    var_dump($account);\n} catch (\\Recurly\\Errors\\NotFound $e) {\n    // Could not find the resource, you may want to inform the user\n    // or just return a NULL\n    echo 'Could not find resource.' . PHP_EOL;\n    var_dump($e);\n} catch (\\Recurly\\RecurlyError $e) {\n    // Something bad happened... tell the user so that they can fix it?\n    echo 'Some unexpected Recurly error happened. Try again later.' . PHP_EOL;\n}\n"
          },
          {
            "lang": "Go",
            "source": "account, err := client.ReactivateAccount(accountID)\nif e, ok := err.(*recurly.Error); ok {\n\tif e.Type == recurly.ErrorTypeValidation {\n\t\tfmt.Printf(\"Failed validation: %v\", e)\n\t\treturn nil, err\n\t}\n\tfmt.Printf(\"Unexpected Recurly error: %v\", e)\n\treturn nil, err\n}\nfmt.Printf(\"Reactivated Account: %s\", account.Id)"
          }
        ]
      }
    },
    "/sites/{site_id}/accounts/{account_id}/balance": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "Fetch an account's balance and past due status",
        "operationId": "get_account_balance",
        "parameters": [
          {
            "name": "site_id",
            "in": "path",
            "description": "Site ID or subdomain. For ID no prefix is used e.g. `e28zov4fw0v2`. For subdomain use prefix `subdomain-`, e.g. `subdomain-recurly`.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_id",
            "in": "path",
            "description": "Account ID or code. For ID no prefix is used e.g. `e28zov4fw0v2`. For code use prefix `code-`, e.g. `code-bob`.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An account's balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountBalance"
                }
              }
            }
          },
          "404": {
            "description": "Incorrect site or account ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Node.js",
            "source": "try {\n  const balance = await client.getAccountBalance(accountId)\n  console.log('Fetched account balance: ', balance.balances)\n} catch (err) {\n  if (err instanceof recurly.errors.NotFoundError) {\n    // If the request was not found, you may want to alert the user or\n    // just return null\n    console.log('Resource Not Found')\n  } else {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    console.log('Unknown Error: ', err)\n  }\n}\n"
          },
          {
            "lang": "Python",
            "source": "try:\n    balance = client.get_account_balance(account_id)\n    print(\"Got AccountBalance %s\" % balance)\nexcept recurly.errors.NotFoundError:\n    # If the resource was not found, you may want to alert the user or\n    # just return nil\n    print(\"Resource Not Found\")\n"
          },
          {
            "lang": ".NET",
            "source": "try\n{\n    AccountBalance balance = client.GetAccountBalance(accountId);\n    Console.WriteLine($\"Fetched account balance {balance.Balances}\");\n}\ncatch (Recurly.Errors.NotFound ex)\n{\n    // If the resource was not found\n    // we may want to alert the user or just return null\n    Console.WriteLine($\"Resource Not Found: {ex.Error.Message}\");\n}\ncatch (Recurly.Errors.ApiError ex)\n{\n    // Use ApiError to catch a generic error from the API\n    Console.WriteLine($\"Unexpected Recurly Error: {ex.Error.Message}\");\n}\n"
          },
          {
            "lang": "Ruby",
            "source": "begin\n  balance = @client.get_account_balance(account_id: account_id)\n  puts \"Got AccountBalance #{balance}\"\nrescue Recurly::Errors::NotFoundError\n  # If the resource was not found, you may want to alert the user or\n  # just return nil\n  puts \"Resource Not Found\"\nend\n"
          },
          {
            "lang": "Java",
            "source": "try {\n    final AccountBalance balance = client.getAccountBalance(accountId);\n    System.out.println(\"Fetched account balance \" + balance.getBalances());\n} catch (NotFoundException e) {\n    // If the resource was not found\n    // we may want to alert the user or just return null\n    System.out.println(\"Resource Not Found: \" + e.getError().getMessage());\n} catch (ApiException e) {\n    // Use ApiException to catch a generic error from the API\n    System.out.println(\"Unexpected Recurly Error: \" + e.getError().getMessage());\n}\n"
          },
          {
            "lang": "PHP",
            "source": "try {\n    $balance = $client->getAccountBalance($account_id);\n\n    echo 'Got Account Balance:' . PHP_EOL;\n    var_dump($balance);\n} catch (\\Recurly\\Errors\\NotFound $e) {\n    // Could not find the resource, you may want to inform the user\n    // or just return a NULL\n    echo 'Could not find resource.' . PHP_EOL;\n    var_dump($e);\n} catch (\\Recurly\\RecurlyError $e) {\n    // Something bad happened... tell the user so that they can fix it?\n    echo 'Some unexpected Recurly error happened. Try again later.' . PHP_EOL;\n}\n"
          },
          {
            "lang": "Go",
            "source": "accountBalance, err := client.GetAccountBalance(accountID)\nif e, ok := err.(*recurly.Error); ok {\n\tif e.Type == recurly.ErrorTypeNotFound {\n\t\tfmt.Printf(\"Resource not found: %v\", e)\n\t\treturn nil, err\n\t}\n\tfmt.Printf(\"Unexpected Recurly error: %v\", e)\n\treturn nil, err\n}\nfmt.Printf(\"Fetched Account Balance: %v\", accountBalance)"
          }
        ]
      }
    },
    "/sites/{site_id}/accounts/{account_id}/billing_info": {
      "get": {
        "tags": [
          "account",
          "billing_info"
        ],
        "summary": "Fetch an account's billing information",
        "operationId": "get_billing_info",
        "parameters": [
          {
            "name": "site_id",
            "in": "path",
            "description": "Site ID or subdomain. For ID no prefix is used e.g. `e28zov4fw0v2`. For subdomain use prefix `subdomain-`, e.g. `subdomain-recurly`.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_id",
            "in": "path",
            "description": "Account ID or code. For ID no prefix is used e.g. `e28zov4fw0v2`. For code use prefix `code-`, e.g. `code-bob`.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An account's billing information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingInfo"
                }
              }
            }
          },
          "404": {
            "description": "Account has no billing information, or incorrect site or account ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Node.js",
            "source": "try {\n  const billingInfo = await client.getBillingInfo(accountId)\n  console.log('Fetched Billing Info: ', billingInfo.id)\n} catch (err) {\n  if (err instanceof recurly.errors.NotFoundError) {\n    // If the request was not found, you may want to alert the user or\n    // just return null\n    console.log('Resource Not Found')\n  } else {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    console.log('Unknown Error: ', err)\n  }\n}\n"
          },
          {
            "lang": "Python",
            "source": "try:\n    binfo = client.get_billing_info(account_id)\n    print(\"Got BillingInfo %s\" % binfo)\nexcept recurly.errors.NotFoundError:\n    # If the resource was not found, you may want to alert the user or\n    # just return nil\n    print(\"Resource Not Found\")\n"
          },
          {
            "lang": ".NET",
            "source": "try\n{\n    BillingInfo billingInfo = client.GetBillingInfo(accountId);\n    Console.WriteLine($\"Fetched billing info {billingInfo.Id}\");\n}\ncatch (Recurly.Errors.NotFound ex)\n{\n    // If the resource was not found\n    // we may want to alert the user or just return null\n    Console.WriteLine($\"Resource Not Found: {ex.Error.Message}\");\n}\ncatch (Recurly.Errors.ApiError ex)\n{\n    // Use ApiError to catch a generic error from the API\n    Console.WriteLine($\"Unexpected Recurly Error: {ex.Error.Message}\");\n}\n"
          },
          {
            "lang": "Ruby",
            "source": "begin\n  billing = @client.get_billing_info(account_id: account_id)\n  puts \"Got BillingInfo #{billing}\"\nrescue Recurly::Errors::NotFoundError\n  # If the resource was not found, you may want to alert the user or\n  # just return nil\n  puts \"Resource Not Found\"\nend\n"
          },
          {
            "lang": "Java",
            "source": "try {\n    final BillingInfo billingInfo = client.getBillingInfo(accountId);\n    System.out.println(\"Fetched billing info \" + billingInfo.getId());\n} catch (NotFoundException e) {\n    // If the resource was not found\n    // we may want to alert the user or just return null\n    System.out.println(\"Resource Not Found: \" + e.getError().getMessage());\n} catch (ApiException e) {\n    // Use ApiException to catch a generic error from the API\n    System.out.println(\"Unexpected Recurly Error: \" + e.getError().getMessage());\n}\n"
          },
          {
            "lang": "PHP",
            "source": "try {\n    $binfo = $client->getBillingInfo($account_id);\n\n    echo 'Got BillingInfo:' . PHP_EOL;\n    var_dump($binfo);\n} catch (\\Recurly\\Errors\\NotFound $e) {\n    // Could not find the resource, you may want to inform the user\n    // or just return a NULL\n    echo 'Could not find resource.' . PHP_EOL;\n    var_dump($e);\n} catch (\\Recurly\\RecurlyError $e) {\n    // Something bad happened... tell the user so that they can fix it?\n    echo 'Some unexpected Recurly error happened. Try again later.' . PHP_EOL;\n}\n"
          },
          {
            "lang": "Go",
            "source": "billingInfo, err := client.GetBillingInfo(accountID)\nif e, ok := err.(*recurly.Error); ok {\n\tif e.Type == recurly.ErrorTypeNotFound {\n\t\tfmt.Printf(\"Resource not found: %v\", e)\n\t\treturn nil, err\n\t}\n\tfmt.Printf(\"Unexpected Recurly error: %v\", e)\n\treturn nil, err\n}\n\nfmt.Printf(\"Fetched Billing Info: %v\", billingInfo)"
          }
        ]
      },
      "put": {
        "tags": [
          "account",
          "billing_info"
        ],
        "summary": "Set an account's billing information",
        "description": "If you're using Recurly.js to securely submit data from webforms without sending it through your server,\nyou can associate the billing information with an account by passing in the `token_id`. Be sure to only\nset this field.\n\nFor credit card payments you'll need the following required fields:\n\n- first_name\n- last_name\n- number\n- month\n- year\n\nFor external (not Recurly.js) tokenized payments you'll need the following required fields:\n\n- first_name\n- last_name\n- gateway_token\n- gateway_code\n",
        "operationId": "update_billing_info",
        "parameters": [
          {
            "name": "site_id",
            "in": "path",
            "description": "Site ID or subdomain. For ID no prefix is used e.g. `e28zov4fw0v2`. For subdomain use prefix `subdomain-`, e.g. `subdomain-recurly`.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_id",
            "in": "path",
            "description": "Account ID or code. For ID no prefix is used e.g. `e28zov4fw0v2`. For code use prefix `code-`, e.g. `code-bob`.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingInfoCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated billing information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request, perhaps invalid JSON?",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Incorrect site or account ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid billing information, or error running the verification transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMayHaveTransaction"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Node.js",
            "source": "try {\n  const billingInfoUpdate = {\n    firstName: 'Aaron',\n    lastName: 'Du Monde',\n  }\n  const billingInfo = await client.updateBillingInfo(accountId, billingInfoUpdate)\n  console.log('Updated billing info: ', billingInfo.id)\n} catch (err) {\n  if (err instanceof recurly.errors.ValidationError) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in err.params\n    console.log('Failed validation', err.params)\n  } else {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    console.log('Unknown Error: ', err)\n  }\n}\n"
          },
          {
            "lang": "Python",
            "source": "try:\n    billing_update = {\"first_name\": \"Aaron\", \"last_name\": \"Du Monde\"}\n    billing = client.update_billing_info(account_id, billing_update)\n    print(\"Updated BillingInfo %s\" % billing)\nexcept recurly.errors.ValidationError as e:\n    # If the request was invalid, you may want to tell your user\n    # why. You can find the invalid params and reasons in e.error.params\n    print(\"ValidationError: %s\" % e.error.message)\n    print(e.error.params)\n"
          },
          {
            "lang": ".NET",
[...]
