{
  "openapi": "3.0.0",
  "info": {
    "title": "ShipStation Developer Portal",
    "description": "# Integrating with ShipStation\n\nShipStation strives to streamline shipping for online sellers, no matter where they sell their products online. ",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://ssapi.shipstation.com/",
      "variables": {}
    }
  ],
  "paths": {
    "/accounts/registeraccount": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Register Account",
        "description": "Creates a new ShipStation account and generates an apiKey and apiSecret to be used by the newly created account. PLEASE NOTE: This endpoint does not require API key and API Secret credentials.  The Authorization header can be left off. Use of this specific endpoint requires approval, and is meant only for direct partners of ShipStation. This is the only endpoint to require approval. All other endpoints listed in this document can be accessed by submitting proper authorization credentials in the header of the request. To become a direct partner of ShipStation, or to request more information on becoming a direct partner, we recommend reaching out to our Partners and Integrations team here: https://info.shipstation.com/become-a-partner-api-and-custom-store-integrations\nThe body of this request has the following attributes:\nName               |Data Type          |Description\n-------------------|-------------------|-------------------\n``firstName``  | string, required | First Name\n``lastName`` | string, required | Last Name\n``email`` | string, required | Email address. This will also be the username of the account.\n``password`` | string, required | Password to set for account access.\n``companyName`` | string, optional | Name of Company.\n``addr1`` | string, optional | Company Address - Street 1\n``addr2`` | string, optional | Company Address - Street 2\n``city`` | string, optional | Company Address - City\n``state`` | string, optional | Company Address - State \n``zip`` | string, optional | Company Address - Zip Code\n``countryCode`` |string, optional | Company Address - Country.  Please use a 2-character country code.\n``phone`` | string, optional | Company Phone number.",
        "operationId": "RegisterAccount",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterAccountrequest"
              },
              "example": "{\n  \"firstName\": \"John\",\n  \"lastName\": \"Smith\",\n  \"email\": \"jsmithtest@gmail.com\",\n  \"password\": \"testpw1234\",\n  \"shippingOriginCountryCode\": \"US\",\n  \"companyName\": \"Droid Repair LLC\",\n  \"addr1\": \"542 Midichlorian Rd.\",\n  \"addr2\": \"\",\n  \"city\": \"Austin\",\n  \"state\": \"TX\",\n  \"zip\": \"78703\",\n  \"countryCode\": \"US\",\n  \"phone\": \"5124111234\"\n}"
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterAccountresponse"
                },
                "example": {
                  "message": "ShipStation account created.",
                  "sellerId": 123456,
                  "success": true,
                  "apiKey": "abcdt9845hjmgfklj3498gkljdkuyekl",
                  "apiSecret": "1234iou983lkj8mnxgfwu509hkhdy7u3"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      }
    },
    "/accounts/listtags": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "List Tags",
        "description": "Lists all tags defined for this account.",
        "operationId": "ListTags",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ListTagsresponse"
                  },
                  "description": ""
                },
                "example": [
                  {
                    "tagId": 8362,
                    "name": "Backorder",
                    "color": "#800080"
                  },
                  {
                    "tagId": 8324,
                    "name": "Canada",
                    "color": "#ff0000"
                  },
                  {
                    "tagId": 8336,
                    "name": "Fragile",
                    "color": "#33CCCC"
                  },
                  {
                    "tagId": 8221,
                    "name": "Repeat Buyer",
                    "color": "#CC99FF"
                  }
                ]
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      }
    },
    "/carriers": {
      "get": {
        "tags": [
          "Carriers"
        ],
        "summary": "List Carriers",
        "description": "Lists all shipping providers connected to this account.",
        "operationId": "ListCarriers",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ListCarriersresponse"
                  },
                  "description": ""
                },
                "example": [
                  {
                    "name": "Stamps.com",
                    "code": "stamps_com",
                    "accountNumber": "SS123",
                    "requiresFundedAccount": true,
                    "balance": 24.27,
                    "nickname": "null",
                    "shippingProviderId": 12345,
                    "primary": true
                  },
                  {
                    "name": "Stamps.com",
                    "code": "stamps_com",
                    "accountNumber": "SS1234",
                    "requiresFundedAccount": true,
                    "balance": 2400.27,
                    "nickname": "Stamps.com 2",
                    "shippingProviderId": 12346,
                    "primary": false
                  },
                  {
                    "name": "UPS",
                    "code": "ups",
                    "accountNumber": "ABCR80",
                    "requiresFundedAccount": false,
                    "balance": 0,
                    "nickname": "null",
                    "shippingProviderId": 12347,
                    "primary": true
                  },
                  {
                    "name": "FedEx",
                    "code": "fedex",
                    "accountNumber": "297929999",
                    "requiresFundedAccount": false,
                    "balance": 0,
                    "nickname": "SS",
                    "shippingProviderId": 12348,
                    "primary": true
                  },
                  {
                    "name": "Endicia",
                    "code": "endicia",
                    "accountNumber": "913999",
                    "requiresFundedAccount": true,
                    "balance": 0,
                    "nickname": "null",
                    "shippingProviderId": 12349,
                    "primary": true
                  }
                ]
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      }
    },
    "/carriers/getcarrier?carrierCode={carrierCode}": {
      "get": {
        "tags": [
          "Carriers"
        ],
        "summary": "Get Carrier",
        "description": "Retrieves the shipping carrier account details for the specified carrierCode. Use this method to determine a carrier's account balance.",
        "operationId": "GetCarrier",
        "parameters": [
          {
            "name": "carrierCode",
            "in": "path",
            "description": "The code for the carrier account to retrieve.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "stamps_com"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCarrierresponse"
                },
                "example": {
                  "name": "Stamps.com",
                  "code": "stamps_com",
                  "accountNumber": "SS123",
                  "requiresFundedAccount": true,
                  "balance": 24.27,
                  "nickname": null,
                  "shippingProviderId": 12345,
                  "primary": true
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      }
    },
    "/carriers/addfunds": {
      "post": {
        "tags": [
          "Carriers"
        ],
        "summary": "Add Funds",
        "description": "Adds funds to a carrier account using the payment information on file. The body of this request should specify the following attributes:\nName               |Data Type          |Description\n-------------------|-------------------|-------------------\n ``carrierCode`` | string, required |  The carrier to add funds to.\n ``amount`` | number, required | The dollar amount to add to the account.  The minimum value that can be added is $10.00.  The maximum value is $10,000.00.",
        "operationId": "AddFunds",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddFundsrequest"
              },
              "example": "{\n  \"carrierCode\": \"fedex\",\n  \"amount\": 20.00\n}"
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddFundsresponse"
                },
                "example": {
                  "name": "Stamps.com",
                  "code": "stamps_com",
                  "accountNumber": "SS123",
                  "requiresFundedAccount": true,
                  "balance": 24.14
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      }
    },
    "/carriers/listpackages?carrierCode={carrierCode}": {
      "get": {
        "tags": [
          "Carriers"
        ],
        "summary": "List Packages",
        "description": "Retrieves a list of packages for the specified carrier",
        "operationId": "ListPackages",
        "parameters": [
          {
            "name": "carrierCode",
            "in": "path",
            "description": "The carrier's code",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ListPackagesresponse"
                  },
                  "description": ""
                },
                "example": [
                  {
                    "carrierCode": "express_1",
                    "code": "cubic",
                    "name": "Cubic",
                    "domestic": true,
                    "international": false
                  },
                  {
                    "carrierCode": "express_1",
                    "code": "dvd_flat_rate_box",
                    "name": "DVD Flat Rate Box",
                    "domestic": false,
                    "international": true
                  },
                  {
                    "carrierCode": "express_1",
                    "code": "flat_rate_envelope",
                    "name": "Flat Rate Envelope",
                    "domestic": true,
                    "international": true
                  },
                  {
                    "carrierCode": "express_1",
                    "code": "flat_rate_legal_envelope",
                    "name": "Flat Rate Legal Envelope",
                    "domestic": true,
                    "international": true
                  },
                  {
                    "carrierCode": "express_1",
                    "code": "flat_rate_padded_envelope",
                    "name": "Flat Rate Padded Envelope",
                    "domestic": true,
                    "international": true
                  },
                  {
                    "carrierCode": "express_1",
                    "code": "large_envelope_or_flat",
                    "name": "Large Envelope or Flat",
                    "domestic": true,
                    "international": true
                  },
                  {
                    "carrierCode": "express_1",
                    "code": "large_flat_rate_box",
                    "name": "Large Flat Rate Box",
                    "domestic": true,
                    "international": true
                  },
                  {
                    "carrierCode": "express_1",
                    "code": "large_package",
                    "name": "Large Package (any side > 12\")",
                    "domestic": true,
                    "international": true
                  },
                  {
                    "carrierCode": "express_1",
                    "code": "large_video_flat_rate_box",
                    "name": "Large Video Flat Rate Box",
                    "domestic": false,
                    "international": true
                  },
                  {
                    "carrierCode": "express_1",
                    "code": "letter",
                    "name": "Letter",
                    "domestic": true,
                    "international": true
                  },
                  {
                    "carrierCode": "express_1",
                    "code": "medium_flat_rate_box",
                    "name": "Medium Flat Rate Box",
                    "domestic": true,
                    "international": true
                  },
                  {
                    "carrierCode": "express_1",
                    "code": "package",
                    "name": "Package",
                    "domestic": true,
                    "international": true
                  },
                  {
                    "carrierCode": "express_1",
                    "code": "regional_rate_box_a",
                    "name": "Regional Rate Box A",
                    "domestic": true,
                    "international": false
                  },
                  {
                    "carrierCode": "express_1",
                    "code": "regional_rate_box_b",
                    "name": "Regional Rate Box B",
                    "domestic": true,
                    "international": false
                  },
                  {
                    "carrierCode": "express_1",
                    "code": "regional_rate_box_c",
                    "name": "Regional Rate Box C",
                    "domestic": true,
                    "international": false
                  },
                  {
                    "carrierCode": "express_1",
                    "code": "small_flat_rate_box",
                    "name": "Small Flat Rate Box",
                    "domestic": true,
                    "international": true
                  },
                  {
                    "carrierCode": "express_1",
                    "code": "thick_envelope",
                    "name": "Thick Envelope",
                    "domestic": true,
                    "international": true
                  }
                ]
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      }
    },
    "/carriers/listservices?carrierCode={carrierCode}": {
      "get": {
        "tags": [
          "Carriers"
        ],
        "summary": "List Services",
        "description": "Retrieves the list of available shipping services provided by the specified carrier",
        "operationId": "ListServices",
        "parameters": [
          {
            "name": "carrierCode",
            "in": "path",
            "description": "The carrier's code",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ListServicesresponse"
                  },
                  "description": ""
                },
                "example": [
                  {
                    "carrierCode": "fedex",
                    "code": "fedex_ground",
                    "name": "FedEx Ground®",
                    "domestic": true,
                    "international": false
                  },
                  {
                    "carrierCode": "fedex",
                    "code": "fedex_home_delivery",
                    "name": "FedEx Home Delivery®",
                    "domestic": true,
                    "international": false
                  },
                  {
                    "carrierCode": "fedex",
                    "code": "fedex_2day",
                    "name": "FedEx 2Day®",
                    "domestic": true,
                    "international": false
                  },
                  {
                    "carrierCode": "fedex",
                    "code": "fedex_2day_am",
                    "name": "FedEx 2Day® A.M.",
                    "domestic": true,
                    "international": false
                  },
                  {
                    "carrierCode": "fedex",
                    "code": "fedex_express_saver",
                    "name": "FedEx Express Saver®",
                    "domestic": true,
                    "international": false
                  },
                  {
                    "carrierCode": "fedex",
                    "code": "fedex_standard_overnight",
                    "name": "FedEx Standard Overnight®",
                    "domestic": true,
                    "international": false
                  },
                  {
                    "carrierCode": "fedex",
                    "code": "fedex_priority_overnight",
                    "name": "FedEx Priority Overnight®",
                    "domestic": true,
                    "international": false
                  },
                  {
                    "carrierCode": "fedex",
                    "code": "fedex_first_overnight",
                    "name": "FedEx First Overnight®",
                    "domestic": true,
                    "international": false
                  },
                  {
                    "carrierCode": "fedex",
                    "code": "fedex_1_day_freight",
                    "name": "FedEx 1 Day® Freight",
                    "domestic": true,
                    "international": false
                  },
                  {
                    "carrierCode": "fedex",
                    "code": "fedex_2_day_freight",
                    "name": "FedEx 2 Day® Freight",
                    "domestic": true,
                    "international": false
                  },
                  {
                    "carrierCode": "fedex",
                    "code": "fedex_3_day_freight",
                    "name": "FedEx 3 Day® Freight",
                    "domestic": true,
                    "international": false
                  },
                  {
                    "carrierCode": "fedex",
                    "code": "fedex_first_overnight_freight",
                    "name": "FedEx First Overnight® Freight",
                    "domestic": true,
                    "international": false
                  },
                  {
                    "carrierCode": "fedex",
                    "code": "fedex_ground_international",
                    "name": "FedEx Ground® International",
                    "domestic": false,
                    "international": true
                  },
                  {
                    "carrierCode": "fedex",
                    "code": "fedex_international_economy",
                    "name": "FedEx International Economy®",
                    "domestic": false,
                    "international": true
                  },
                  {
                    "carrierCode": "fedex",
                    "code": "fedex_international_priority",
                    "name": "FedEx International Priority®",
                    "domestic": false,
                    "international": true
                  },
                  {
                    "carrierCode": "fedex",
                    "code": "fedex_international_first",
                    "name": "FedEx International First®",
                    "domestic": false,
                    "international": true
                  },
                  {
                    "carrierCode": "fedex",
                    "code": "fedex_europe_first",
                    "name": "FedEx Europe First®",
                    "domestic": false,
                    "international": true
                  },
                  {
                    "carrierCode": "fedex",
                    "code": "fedex_international_economy_freight",
                    "name": "FedEx International Economy® Freight",
                    "domestic": false,
                    "international": true
                  },
                  {
                    "carrierCode": "fedex",
                    "code": "fedex_international_priority_freight",
                    "name": "FedEx International Priority® Freight",
                    "domestic": false,
                    "international": true
                  }
                ]
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      }
    },
    "/customers/{customerId}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get Customer",
        "description": "",
        "operationId": "GetCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The system generated identifier for the Customer.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double",
              "example": 12345678
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerresponse"
                },
                "example": {
                  "customerId": 12345678,
                  "createDate": "\"2014-11-18T10:33:01.19\"",
                  "modifyDate": "\"2014-11-18T10:33:01.19\"",
                  "name": "Cam Newton",
                  "company": "Test Company",
                  "street1": "123 War Eagle Lane",
                  "street2": "",
                  "city": "Auburn",
                  "state": "AL",
                  "postalCode": "36830",
                  "countryCode": "US",
                  "phone": "555-555-5555",
                  "email": "supermancam@example.com",
                  "addressVerified": "Verified",
                  "marketplaceUsernames": [
                    {
                      "customerUserId": 67195020,
                      "customerId": 12345678,
                      "createDate": "\"2015-04-27T12:35:03.83\"",
                      "modifyDate": "\"2015-05-14T08:16:15.27\"",
                      "marketplaceId": 0,
                      "marketplace": "ShipStation",
                      "username": "camtheman@gmail.com"
                    },
                    {
                      "customerUserId": 37568588,
                      "customerId": 12345678,
                      "createDate": "\"2014-11-18T10:33:01.197\"",
                      "modifyDate": "\"2014-11-18T10:33:01.197\"",
                      "marketplaceId": 36,
                      "marketplace": "WooCommerce",
                      "username": "supercam@example.com"
                    },
                    {
                      "customerUserId": 46038940,
                      "customerId": 12345678,
                      "createDate": "null",
                      "modifyDate": "null",
                      "marketplaceId": 67,
                      "marketplace": "TradeGecko",
                      "username": "camtheman@gmail.com"
                    }
                  ],
                  "tags": [
                    {
                      "tagId": 1234,
                      "name": "Expedited"
                    },
                    {
                      "tagId": 9725,
                      "name": "00 BULK ORDERED"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      }
    },
    "/customers?stateCode={stateCode}&countryCode={countryCode}&tagId={tagId}&marketplaceId={marketplaceId}&sortBy={sortBy}&sortDir={sortDir}&page={page}&pageSize={pageSize}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "List Customers",
        "description": "Obtains a list of customers that match the specified criteria.",
        "operationId": "ListCustomers",
        "parameters": [
          {
            "name": "stateCode",
            "in": "path",
            "description": "Returns customers that reside in the specified stateCode.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "path",
            "description": "Returns customers that reside in the specified countryCode.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "marketplaceId",
            "in": "path",
            "description": "Returns customers that purchased items from the specified marketplaceId.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "tagId",
            "in": "path",
            "description": "Returns customers that have been tagged with the specified tagId.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "sortBy",
            "in": "path",
            "description": "Sorts the order of the response based off the specified value.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/sortBy"
            }
          },
          {
            "name": "sortDir",
            "in": "path",
            "description": "Sets the direction of the sort order.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/sortDir"
            }
          },
          {
            "name": "page",
            "in": "path",
            "description": "Page number.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "pageSize",
            "in": "path",
            "description": "Requested page size. Max value is 500.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomersresponse"
                },
                "example": {
                  "customers": [
                    {
                      "customerId": 12345678,
                      "createDate": "\"2014-11-18T10:33:01.19\"",
                      "modifyDate": "\"2014-11-18T10:33:01.19\"",
                      "name": "Cam Newton",
                      "company": "Test Company",
                      "street1": "123 War Eagle Lane",
                      "street2": "",
                      "city": "Auburn",
                      "state": "AL",
                      "postalCode": "36830",
                      "countryCode": "US",
                      "phone": "555-555-5555",
                      "email": "supermancam@example.com",
                      "addressVerified": "Verified",
                      "marketplaceUsernames": [
                        {
                          "customerUserId": 67195020,
                          "customerId": 12345678,
                          "createDate": "\"2015-04-27T12:35:03.83\"",
                          "modifyDate": "\"2015-05-14T08:16:15.27\"",
                          "marketplaceId": 0,
                          "marketplace": "ShipStation",
                          "username": "camtheman@gmail.com"
                        },
                        {
                          "customerUserId": 37568588,
                          "customerId": 12345678,
                          "createDate": "\"2014-11-18T10:33:01.197\"",
                          "modifyDate": "\"2014-11-18T10:33:01.197\"",
                          "marketplaceId": 36,
                          "marketplace": "WooCommerce",
                          "username": "supercam@example.com"
                        },
                        {
                          "customerUserId": 46038940,
                          "customerId": 12345678,
                          "createDate": "null",
                          "modifyDate": "null",
                          "marketplaceId": 67,
                          "marketplace": "TradeGecko",
                          "username": "camtheman@gmail.com"
                        }
                      ],
                      "tags": [
                        {
                          "tagId": 1234,
                          "name": "Expedited"
                        },
                        {
                          "tagId": 9725,
                          "name": "00 BULK ORDERED"
                        }
                      ]
                    },
                    {
                      "customerId": 87654321,
                      "createDate": "\"2015-06-21T12:48:07.54\"",
                      "name": "Bo Jackson",
                      "company": "Test Company",
                      "street1": "456 Heisman Ave",
                      "street2": "",
                      "city": "Auburn",
                      "state": "AL",
                      "postalCode": "36830",
                      "countryCode": "US",
                      "phone": "555-555-5555",
                      "email": "boknows@example.com",
                      "addressVerified": "Verified",
                      "marketplaceUsernames": [
                        {
                          "customerUserId": 77215410,
                          "customerId": 87654321,
                          "createDate": "\"2015-08-27T14:36:05.75\"",
                          "modifyDate": "\"2015-09-01T09:18:25.31\"",
                          "marketplaceId": 0,
                          "marketplace": "ShipStation",
                          "username": "boknows@gmail.com"
                        },
                        {
                          "customerUserId": 43759100,
                          "customerId": 87654321,
                          "createDate": "\"2015-07-05T11:38:01.197\"",
                          "modifyDate": "\"2015-07-05T11:38:01.197\"",
                          "marketplaceId": 36,
                          "marketplace": "WooCommerce",
                          "username": "boknows@example.com"
                        },
                        {
                          "customerUserId": 81565241,
                          "customerId": 87654321,
                          "createDate": "null",
                          "modifyDate": "null",
                          "marketplaceId": 67,
                          "marketplace": "TradeGecko",
                          "username": "bo@gmail.com"
                        }
                      ],
                      "tags": [
                        {
                          "tagId": 1234,
                          "name": "Expedited"
                        },
                        {
                          "tagId": 9725,
                          "name": "00 BULK ORDERED"
                        }
                      ]
                    }
                  ],
                  "total": 2,
                  "page": 1,
                  "pages": 1
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      }
    },
    "/fulfillments": {
      "get": {
        "tags": [
          "Fulfillments"
        ],
        "summary": "List Fulfillments w/o parameters",
        "description": "",
        "operationId": "ListFulfillmentsW/oParameters",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFulfillmentsw~1oparametersresponse"
                },
                "example": {
                  "fulfillments": [
                    {
                      "fulfillmentId": 33974374,
                      "orderId": 191759016,
                      "orderNumber": "101",
                      "userId": "c9f06d74-95de-4263-9b04-e87095cababf",
                      "customerEmail": "apisupport@shipstation.com",
                      "trackingNumber": "783408231234",
                      "createDate": "2016-06-07T08:50:50.067",
                      "shipDate": "2016-06-07T00:00:00",
                      "voidDate": null,
                      "deliveryDate": null,
                      "carrierCode": "USPS",
                      "fulfillmentProviderCode": null,
                      "fulfillmentServiceCode": null,
                      "fulfillmentFee": 0,
                      "voidRequested": false,
                      "voided": false,
                      "marketplaceNotified": true,
                      "notifyErrorMessage": null,
                      "shipTo": {
                        "name": "Yoda",
                        "company": null,
                        "street1": "3800 N Lamar Blvd # 220",
                        "street2": null,
                        "street3": null,
                        "city": "AUSTIN",
                        "state": "TX",
                        "postalCode": "78756",
                        "country": "US",
                        "phone": "512-485-4282",
                        "residential": null,
                        "addressVerified": null
                      }
                    },
                    {
                      "fulfillmentId": 246310,
                      "orderId": 193699927,
                      "orderNumber": "101",
                      "userId": "c9f06d74-95de-4263-9b04-e87095cababf",
                      "customerEmail": "apisupport@shipstation.com",
                      "trackingNumber": "664756278745",
                      "createDate": "2016-06-08T12:54:53.347",
                      "shipDate": "2016-06-08T00:00:00",
                      "voidDate": null,
                      "deliveryDate": null,
                      "carrierCode": "FedEx",
                      "fulfillmentProviderCode": null,
                      "fulfillmentServiceCode": null,
                      "fulfillmentFee": 0,
                      "voidRequested": false,
                      "voided": false,
                      "marketplaceNotified": true,
                      "notifyErrorMessage": null,
                      "shipTo": {
                        "name": "Yoda",
                        "company": null,
                        "street1": "3800 N Lamar Blvd # 220",
                        "street2": null,
                        "street3": null,
                        "city": "AUSTIN",
                        "state": "TX",
                        "postalCode": "78756",
                        "country": "US",
                        "phone": "512-485-4282",
                        "residential": null,
                        "addressVerified": null
                      }
                    }
                  ],
                  "total": 2,
                  "page": 1,
                  "pages": 0
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      }
    },
    "/fulfillments?fulfillmentId={fulfillmentId}&orderId={orderId}&orderNumber={orderNumber}&trackingNumber={trackingNumber}&recipientName={recipientName}&createDateStart={createDateStart}&createDateEnd={createDateEnd}&shipDateStart={shipDateStart}&shipDateEnd={shipDateEnd}&sortBy={sortBy}&sortDir={sortDir}&page={page}&pageSize={pageSize}": {
      "get": {
        "tags": [
          "Fulfillments"
        ],
        "summary": "List Fulfillments with parameters",
        "description": "Obtains a list of fulfillments that match the specified criteria.  Please note the following:\n- Orders that have been marked as shipped either through the UI or the API will appear in the response as they are considered fulfillments.\nAll of the available filters are optional.  They do not need to be included in the URL.  If you do include them, here's what the URL may look like:\nUrl format with filters:\n```\nfulfillments?fulfillmentId={fulfillmentId}\n&orderId={orderId}\n&orderNumber={orderNumber}\n&trackingNumber={trackingNumber}\n&recipientName={recipientName}\n&createDateStart={createDateStart}\n&createDateEnd={createDateEnd}\n&shipDateStart={shipDateStart}\n&shipDateEnd={shipDateEnd}\n&sortBy={sortBy}\n&sortDir={sortDir}\n&page={page}\n&pageSize={pageSize}\n```",
        "operationId": "ListFulfillmentsWithParameters",
        "parameters": [
          {
            "name": "fulfillmentId",
            "in": "path",
            "description": "Returns the fulfillment with the specified fulfillment ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "orderId",
            "in": "path",
            "description": "Returns fulfillments whose orders have the specified order ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "orderNumber",
            "in": "path",
            "description": "Returns fulfillments whose orders have the specified order number.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trackingNumber",
            "in": "path",
            "description": "Returns fulfillments with the specified tracking number.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipientName",
            "in": "path",
            "description": "Returns fulfillments shipped to the specified recipient name.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createDateStart",
            "in": "path",
            "description": "Returns fulfillments created on or after the specified ``createDate``",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "2015-01-01 00:00:00"
            }
          },
          {
            "name": "createDateEnd",
            "in": "path",
            "description": "Returns fulfillments created on or before the specified ``createDate``",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "2015-01-08 00:00:00"
            }
          },
          {
            "name": "shipDateStart",
            "in": "path",
            "description": "Returns fulfillments with the ``shipDate`` on or after the specified date",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "2015-01-01"
            }
          },
          {
            "name": "shipDateEnd",
            "in": "path",
            "description": "Returns fulfillments with the ``shipDate`` on or before the specified date",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "2015-01-08"
            }
          },
          {
            "name": "sortBy",
            "in": "path",
            "description": "Sort the responses by a set value.  The response will be sorted based off the ascending dates (oldest to most current.)  If left empty, the response will be sorted by ascending ``createDate``.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/sortBy1"
            }
          },
          {
            "name": "sortDir",
            "in": "path",
            "description": "Sets the direction of the sort order.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/sortDir"
            }
          },
          {
            "name": "page",
            "in": "path",
            "description": "page number.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "pageSize",
            "in": "path",
            "description": "page size.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFulfillmentswithparametersresponse"
                },
                "example": {
                  "fulfillments": [
                    {
                      "fulfillmentId": 33974374,
                      "orderId": 191759016,
                      "orderNumber": "101",
                      "userId": "c9f06d74-95de-4263-9b04-e87095cababf",
                      "customerEmail": "apisupport@shipstation.com",
                      "trackingNumber": "783408231234",
                      "createDate": "2016-06-07T08:50:50.067",
                      "shipDate": "2016-06-07T00:00:00",
                      "voidDate": null,
                      "deliveryDate": null,
                      "carrierCode": "USPS",
                      "fulfillmentProviderCode": null,
                      "fulfillmentServiceCode": null,
                      "fulfillmentFee": 0,
                      "voidRequested": false,
                      "voided": false,
                      "marketplaceNotified": true,
                      "notifyErrorMessage": null,
                      "shipTo": {
                        "name": "Yoda",
                        "company": null,
                        "street1": "3800 N Lamar Blvd # 220",
                        "street2": null,
                        "street3": null,
                        "city": "AUSTIN",
                        "state": "TX",
                        "postalCode": "78756",
                        "country": "US",
                        "phone": "512-485-4282",
                        "residential": null,
                        "addressVerified": null
                      }
                    },
                    {
                      "fulfillmentId": 246310,
                      "orderId": 193699927,
                      "orderNumber": "101",
                      "userId": "c9f06d74-95de-4263-9b04-e87095cababf",
                      "customerEmail": "apisupport@shipstation.com",
                      "trackingNumber": "664756278745",
                      "createDate": "2016-06-08T12:54:53.347",
                      "shipDate": "2016-06-08T00:00:00",
                      "voidDate": null,
                      "deliveryDate": null,
                      "carrierCode": "FedEx",
                      "fulfillmentProviderCode": null,
                      "fulfillmentServiceCode": null,
                      "fulfillmentFee": 0,
                      "voidRequested": false,
                      "voided": false,
                      "marketplaceNotified": true,
                      "notifyErrorMessage": null,
                      "shipTo": {
                        "name": "Yoda",
                        "company": null,
                        "street1": "3800 N Lamar Blvd # 220",
                        "street2": null,
                        "street3": null,
                        "city": "AUSTIN",
                        "state": "TX",
                        "postalCode": "78756",
                        "country": "US",
                        "phone": "512-485-4282",
                        "residential": null,
                        "addressVerified": null
                      }
                    }
                  ],
                  "total": 2,
                  "page": 1,
                  "pages": 0
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      }
    },
    "/orders/{orderId}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get Order",
        "description": "Retrieves a single order from the database.",
        "operationId": "GetOrder",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The system generated identifier for the order.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double",
              "example": 123456789
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrderresponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Orders"
        ],
        "summary": "Delete Order",
        "description": "Removes order from ShipStation's UI. Note this is a \"soft\" delete action so the order will still exist in the database, but will be set to ``inactive``",
        "operationId": "DeleteOrder",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The system generated identifier for the order.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double",
              "example": 123456789
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteOrderresponse"
                },
                "example": {
                  "success": true,
                  "message": "The requested order has been deleted."
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      }
    },
    "/orders/addtag": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Add Tag to Order",
        "description": "Adds a tag to an order.  The body of this request should specify the following attributes:\nName               |Data Type          |Description\n-------------------|-------------------|-------------------\n``orderId`` | number, required | Identifies the order that will be tagged.\n``tagId`` | number, required | Identifies the tag that will be applied to the order.",
        "operationId": "AddTagToOrder",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTagtoOrderrequest"
              },
              "example": "{\n  \"orderId\": 123456,\n  \"tagId\": 1234\n}"
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddTagtoOrderresponse"
                },
                "example": {
                  "success": true,
                  "message": "Tag added successfully."
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      }
    },
    "/orders/assignuser": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Assign User to Order",
        "description": "Assigns a user to an order.  The body of this request should specify the following attributes:\nName               |Data Type          |Description\n-------------------|-------------------|-------------------\n``orderIds`` | number, required | Identifies set of orders that will be assigned the user.  Please note that if ANY of the orders within the array are not found, no orders will have a user assigned to them.\n``userId`` | number, required | Identifies the user that will be applied to the orders.  It should contain a GUID of the user to be assigned to the array of orders.",
        "operationId": "AssignUserToOrder",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignUsertoOrderrequest"
              },
              "example": "{\n  \"orderIds\": [\n    123456789,\n    12345679\n    ],\n  \"userId\": \"123456AB-ab12-3c4d-5e67-89f1abc1defa\"\n}"
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssignUsertoOrderresponse"
                },
                "example": {
                  "success": true,
                  "message": "User assigned successfully."
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      }
    },
    "/orders/createlabelfororder": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create Label for Order",
        "description": "Creates a shipping label for a given order.  The ``labelData`` field returned in the response is a base64 encoded PDF value. Simply decode and save the output as a PDF file to retrieve a printable label.  The body of this request should specify the following attributes:\nName               |Data Type          |Description\n-------------------|-------------------|-------------------\n``orderId`` | number, required | Identifies the order that will be shipped.\n``carrierCode`` | string, required | The code for the carrier that is to be used for the label.\n``serviceCode`` | string, required | The code for the shipping service that is to be used for the label.\n``confirmation`` | string, required | The type of delivery confirmation that is to be used once the shipment is created.  Possible values: ``none``, ``delivery``, ``signature``, ``adult_signature``, and ``direct_signature``.  ``direct_signature`` is available for FedEx only.\n``shipDate`` | string, required | The date the order should be shipped.\n``weight`` | Weight, optional | Weight of the order.  Use the [**Weight**](http://www.shipstation.com/developer-api/#/reference/model-weight) model.\n``dimensions`` | Dimensions, optional | Dimensions of the order.  Use [**Dimensions**](http://www.shipstation.com/developer-api/#/reference/model-dimensions) model.\n``insuranceOptions`` | InsuranceOptions, optional | The shipping insurance information associated with this label.  Use the [**InsuranceOptions**](http://www.shipstation.com/developer-api/#/reference/model-insuranceoptions) model.\n``internationalOptions`` | InternationalOptions, optional | Customs information that can be used to generate customs documents for international orders.  Use the [**InternationalOptions**](http://www.shipstation.com/developer-api/#/reference/model-internationaloptions) model.\n``advancedOptions`` | AdvancedOptions, optional | Various advanced options that may be available depending on the shipping carrier that is used to ship the order. Use the Customs information that can be used to generate customs documents for international orders.  Use the [**AdvancedOptions**](http://www.shipstation.com/developer-api/#/reference/model-advancedoptions) model.\n``testLabel`` | boolean, required | Specifies whether a test label should be created.",
        "operationId": "CreateLabelForOrder",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLabelforOrderrequest"
              },
              "example": "{\n  \"orderId\": 93348442,\n  \"carrierCode\": \"fedex\",\n  \"serviceCode\": \"fedex_2day\",\n  \"packageCode\": \"package\",\n  \"confirmation\": null,\n  \"shipDate\": \"2014-04-03\",\n  \"weight\": {\n    \"value\": 2,\n    \"units\": \"pounds\"\n  },\n  \"dimensions\": null,\n  \"insuranceOptions\": null,\n  \"internationalOptions\": null,\n  \"advancedOptions\": null,\n  \"testLabel\": false\n}"
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLabelforOrderresponse"
                },
                "example": {
                  "shipmentId": 72513480,
                  "shipmentCost": 7.3,
                  "insuranceCost": 0,
                  "trackingNumber": "248201115029520",
                  "labelData": "JVBERi0xLjQKJeLjz9MKMiAwIG9iago8PC9MZW5ndGggNjIvRmlsdGVyL0ZsYXRlRGVjb2RlPj5zdHJlYW0KeJwr5HIK4TI2UzC2NFMISeFyDeEK5CpUMFQwAEJDBV0jCz0LBV1jY0M9I4XkXAX9iDRDBZd8hUAuAEdGC7cKZW5kc3RyZWFtCmVuZG9iago0IDAgb2JqCjw8L1R5cGUvUGFnZS9NZWRpYUJveFswIDAgMjg4IDQzMl0vUmVzb3VyY2VzPDwvUHJvY1NldCBbL1BERiAvVGV4dCAvSW1hZ2VCIC9JbWFnZUMgL0ltYWdlSV0vWE9iamVjdDw8L1hmMSAxIDAgUj4+Pj4vQ29udGVudHMgMiAwIFIvUGFyZW50....",
                  "formData": null
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      }
    },
    "/orders/createorder": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create/Update Order",
        "description": "If the ``orderKey`` is specified, the method becomes idempotent and the existing order with that key will be updated. Note: Only orders in an open status in ShipStation (``awaiting_payment``,``awaiting_shipment``, and ``on_hold``) can be updated through this method. ``cancelled`` and ``shipped`` are locked from modification through the API.  The body of this request should specify an [**Order**](https://www.shipstation.com/developer-api/#/reference/model-order) object:\nName               |Data Type          |Description\n-------------------|-------------------|-------------------\n``orderNumber`` | string, required | A user-defined order number used to identify an order.\n``orderKey`` | string, optional | A user-provided key that should be unique to each order.  If an orderKey is not provided, ShipStation will create a new order and generate a unique orderKey for that order.  If the orderKey *is* provided, the **createorder** method will either: create a new order if the provided orderKey is not found, or, update the existing order if the orderKey is found.\n``orderDate`` | string, required | The date the order was placed.\n``paymentDate`` | string, optional | The date the order was paid for.\n``shipByDate`` | string, optional | The date the order is to be shipped before or on. This field is a suggested value generated by the order source/platform/cart and passed to ShipStation.\n``orderStatus`` | string, required | The order's status. Possible values: ``awaiting_payment``, ``awaiting_shipment``, ``shipped``, ``on_hold``, ``cancelled``\n``customerUsername`` | string, optional | The customer's username.\n``customerEmail`` | string, optional | The customer's email address.\n``billTo`` | Address, required | The recipients billing address. Use the [**Address**](https://www.shipstation.com/developer-api/#/reference/model-address) model.\n``shipTo`` | Address, required | The recipient's shipping address. Use the [**Address**](http://www.shipstation.com/developer-api/#/reference/model-address) model.\n``items`` | OrderItem, optional | An array of item objects.  Use an array of [**OrderItem**](http://www.shipstation.com/developer-api/#/reference/model-orderitem) models.\n``amountPaid`` | number, optional | The total amount paid for the Order.\n``taxAmount`` | number, optional | The total tax amount for the Order.\n``shippingAmount`` | number, optional | Shipping amount paid by the customer, if any.\n``customerNotes`` | string, optional | Notes left by the customer when placing the order.\n``internalNotes`` | string, optional | Private notes that are only visible to the seller.\n``gift`` | boolean, optional | Specifies whether or not this Order is a gift\n``giftMessage`` | string, optional | Gift message left by the customer when placing the order.\n``paymentMethod`` | string, optional | Method of payment used by the customer.\n``requestedShippingService`` | string, optional |Identifies the shipping service selected by the customer when placing this order. This value is given to ShipStation by the marketplace/cart and helps identify what shipping service the customer selected upon checkout.\n``carrierCode`` | string, optional | The code for the carrier that is to be used(or was used) when this order is shipped(was shipped).\n``serviceCode`` | string, optional | The code for the shipping service that is to be used(or was used) when this order is shipped(was shipped).\n``packageCode`` | string, optional | The code for the package type that is to be used(or was used) when this order is shipped(was shipped).\n``confirmation`` | string, optional | The type of delivery confirmation that is to be used(or was used) when this order is shipped(was shipped). Possible values: ``none``, ``delivery``, ``signature``, ``adult_signature``, and ``direct_signature``.  ``direct_signature`` is available for FedEx only.  \n``shipDate`` | string, optional | The date the order was shipped.\n``weight`` | Weight, optional | Weight of the order.  Use the [**Weight**](http://www.shipstation.com/developer-api/#/reference/model-weight) model.\n``dimensions`` | Dimensions, optional | Dimensions of the order.  Use the [**Dimensions**](http://www.shipstation.com/developer-api/#/reference/model-dimensions) model.\n``insuranceOptions`` | InsuranceOptions, optional | The shipping insurance information associated with this order.  Use the [**InsuranceOptions**](http://www.shipstation.com/developer-api/#/reference/model-insuranceoptions) model.\n``internationalOptions`` | InternationalOptions, optional | Customs information that can be used to generate customs documents for international orders.  Use the [**InternationalOptions**](http://www.shipstation.com/developer-api/#/reference/model-internationaloptions) model.\n``advancedOptions`` | AdvancedOptions, optional | Various advanced options that may be available depending on the shipping carrier that is used to ship the order. Use the [**AdvancedOptions**](http://www.shipstation.com/developer-api/#/reference/model-advancedoptions) model.\n``tagIds``|number[]|Array of tagIds.  Each tagId identifies a tag that has been associated with this order.",
        "operationId": "Create/updateOrder",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Create~1UpdateOrderrequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Create~1UpdateOrderresponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      }
    },
    "/orders/createorders": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create/Update Multiple Orders",
        "description": "This endpoint can be used to create or update multiple orders in one request. If the ``orderKey`` is specified in an order, the existing order with that key will be updated. Note: Only orders in an open status in ShipStation (``awaiting_payment``,``awaiting_shipment``, and ``on_hold``) can be updated through this method. ``cancelled`` and ``shipped`` are locked from modification through the API.\nData Type          |Description\n-------------------|-------------------\nOrder, required | An array of [**Order**](http://www.shipstation.com/developer-api/#/reference/model-order) objects (maximum of 100 per request)",
        "operationId": "Create/updateMultipleOrders",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Create~1UpdateMultipleOrdersrequest"
                },
                "description": ""
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Create~1UpdateMultipleOrdersresponse"
                },
                "example": {
                  "hasErrors": false,
                  "results": [
                    {
                      "orderId": 58345234,
                      "orderNumber": "TEST-ORDER-API-DOCS",
                      "orderKey": "0f6bec18-3e89-4881-83aa-f392d84f4c74",
                      "success": true,
                      "errorMessage": null
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      }
    },
    "/orders/holduntil": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Hold Order Until",
        "description": "This method will change the status of the given order to On Hold until the date specified, when the status will automatically change to Awaiting Shipment.\nThe body of this request should specify the following attributes:\nName               |Data Type          |Description\n-------------------|-------------------|-------------------\n``orderId`` | number, required | Identifies the order that will be held.\n``holdUntilDate`` | string, required | Date when order is moved from ``on_hold`` status to ``awaiting_shipment``.",
        "operationId": "HoldOrderUntil",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HoldOrderUntilrequest"
              },
              "example": "{\n  \"orderId\": 1072467,\n  \"holdUntilDate\": \"2014-12-01\"\n}"
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HoldOrderUntilresponse"
                },
                "example": {
                  "success": true,
                  "message": "Order held successfully."
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List Orders w/o parameters",
        "description": "",
        "operationId": "ListOrdersW/oParameters",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrdersw~1oparametersresponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      }
    },
    "/orders?customerName={customerName}&itemKeyword={itemKeyword}&createDateStart={createDateStart}&createDateEnd={createDateEnd}&modifyDateStart={modifyDateStart}&modifyDateEnd={modifyDateEnd}&orderDateStart={orderDateStart}&orderDateEnd={orderDateEnd}&orderNumber={orderNumber}&orderStatus={orderStatus}&paymentDateStart={paymentDateStart}&paymentDateEnd={paymentDateEnd}&storeId={storeId}&sortBy={sortBy}&sortDir={sortDir}&page={page}&pageSize={pageSize}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List Orders with parameters",
        "description": "Obtains a list of orders that match the specified criteria.  All of the available filters are optional.  They do not need to be included in the URL.  If you do include them, here's what the URL may look like:\nUrl format with filters:\n```\n/orders?customerName={customerName}\n&itemKeyword={itemKeyword}\n&createDateStart={createDateStart}\n&createDateEnd={createDateEnd}\n&modifyDateStart={modifyDateStart}\n&modifyDateEnd={modifyDateEnd}\n&orderDateStart={orderDateStart}\n&orderDateEnd={orderDateEnd}\n&orderNumber={orderNumber}\n&orderStatus={orderStatus}\n&paymentDateStart={paymentDateStart}\n&paymentDateEnd={paymentDateEnd}\n&storeId={storeId}\n&sortBy={sortBy}\n&sortDir={sortDir}\n&page={page}\n&pageSize={pageSize}\n```",
        "operationId": "ListOrdersWithParameters",
        "parameters": [
          {
            "name": "customerName",
            "in": "path",
            "description": "Returns orders that match the specified name.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "Smith"
            }
          },
          {
            "name": "itemKeyword",
            "in": "path",
            "description": "Returns orders that contain items that match the specified keyword. Fields searched are Sku, Description, and Options",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "ABC123"
            }
          },
          {
            "name": "createDateStart",
            "in": "path",
            "description": "Returns orders that were created in ShipStation after the specified date",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "2015-01-01 00:00:00"
            }
          },
          {
            "name": "createDateEnd",
            "in": "path",
            "description": "Returns orders that were created in ShipStation before the specified date",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "2015-01-08 00:00:00"
            }
          },
          {
            "name": "modifyDateStart",
            "in": "path",
            "description": "Returns orders that were modified after the specified date",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "2015-01-01 00:00:00"
            }
          },
          {
            "name": "modifyDateEnd",
            "in": "path",
            "description": "Returns orders that were modified before the specified date",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "2015-01-08 00:00:00"
            }
          },
          {
            "name": "orderDateStart",
            "in": "path",
            "description": "Returns orders greater than the specified date",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "2015-01-01 00:00:00"
            }
          },
          {
            "name": "orderDateEnd",
            "in": "path",
            "description": "Returns orders less than or equal to the specified date",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "2015-01-08 00:00:00"
            }
          },
          {
            "name": "orderNumber",
            "in": "path",
            "description": "Filter by order number, performs a \"starts with\" search.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "12345"
            }
          },
          {
            "name": "orderStatus",
            "in": "path",
            "description": "Filter by order status.  If left empty, orders of all statuses are returned.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/orderStatus"
            }
          },
          {
            "name": "paymentDateStart",
            "in": "path",
            "description": "Returns orders that were paid after the specified date",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "2015-01-01"
            }
          },
          {
            "name": "paymentDateEnd",
            "in": "path",
            "description": "Returns orders that were paid before the specified date",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "2015-01-08"
            }
          },
          {
            "name": "storeId",
            "in": "path",
            "description": "Filters orders to a single store. Call List Stores to obtain a list of store Ids.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double",
              "example": 123456
            }
          },
          {
            "name": "sortBy",
            "in": "path",
            "description": "Sort the responses by a set value.  The response will be sorted based off the ascending dates (oldest to most current.)  If left empty, the response will be sorted by ascending ``orderId``.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/sortBy2"
            }
          },
          {
            "name": "sortDir",
            "in": "path",
            "description": "Sets the direction of the sort order.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/sortDir"
            }
          },
          {
            "name": "page",
            "in": "path",
            "description": "Page number",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "path",
            "description": "Requested page size. Max value is 500.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrderswithparametersresponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      }
    },
    "/orders/listbytag?orderStatus={orderStatus}&tagId={tagId}&page={page}&pageSize={pageSize}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List Orders by Tag",
        "description": "Lists all orders that match the specified status and tag ID.\nUrl format with filters:\n```\n/listbytag?orderStatus={orderStatus}\n&tagId={tagId}\n&page={page}\n&pageSize={pageSize}\n```",
        "operationId": "ListOrdersByTag",
        "parameters": [
          {
            "name": "orderStatus",
            "in": "path",
            "description": "The order's status.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/orderStatus"
            }
          },
          {
            "name": "tagId",
            "in": "path",
            "description": "ID of the tag. Call Accounts/ListTags to obtain a list of tags for this account.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "page",
            "in": "path",
            "description": "Page number",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "path",
            "description": "Requested page size. Max value is 500.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrdersbyTagresponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      }
    },
    "/orders/markasshipped": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Mark an Order as Shipped",
        "description": "Marks an order as shipped without creating a label in ShipStation. The body of this request has the following attributes:\nName               |Data Type          |Description\n-------------------|-------------------|-------------------\n ``orderId`` | number, required | Identifies the order that will be marked as shipped.\n ``carrierCode`` | string, required | Code of the carrier that is marked as having shipped the order.\n ``shipDate`` | string, optional | Date order was shipped.\n ``trackingNumber`` | string, optional | Tracking number of shipment.\n ``notifyCustomer``  | boolean, optional | Specifies whether the customer should be notified of the shipment. Default value: false\n ``notifySalesChannel`` | boolean, optional | Specifies whether the sales channel should be notified of the shipment. Default value: false",
        "operationId": "MarkAnOrderAsShipped",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkanOrderasShippedrequest"
              },
              "example": "{\n    \"orderId\": 93348442,\n    \"carrierCode\": \"usps\",\n    \"shipDate\": \"2014-04-01\",\n    \"trackingNumber\": \"913492493294329421\",\n    \"notifyCustomer\": true,\n    \"notifySalesChannel\": true\n}"
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarkanOrderasShippedresponse"
                },
                "example": {
                  "orderId": 123456789,
                  "orderNumber": "ABC123"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      }
    },
    "/orders/removetag": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Remove Tag from Order",
        "description": "Removes a tag from the specified order.  The body of this request has the following attributes:\nName               |Data Type          |Description\n-------------------|-------------------|-------------------\n``orderId`` | number, required | Identifies the order whose tag will be removed.\n``tagId`` | number, required | Identifies the tag to remove.",
        "operationId": "RemoveTagFromOrder",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveTagfromOrderrequest"
              },
              "example": "{\n  \"orderId\": 123456,\n  \"tagId\": 1234\n}"
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveTagfromOrderresponse"
                },
                "example": {
                  "success": true,
                  "message": "Tag removed successfully."
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      }
    },
    "/orders/restorefromhold": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Restore Order from On Hold",
        "description": "This method will change the status of the given order from On Hold to Awaiting Shipment. This endpoint is used when a holdUntil Date is attached to an order.\nThe body of this request should specify the following attributes:\nName               |Data Type          |Description\n-------------------|-------------------|-------------------\n``orderId`` | number, required | Identifies the order that will be restored to ``awaiting_shipment`` from ``on_hold``.",
        "operationId": "RestoreOrderFromOnHold",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RestoreOrderfromOnHoldrequest"
              },
              "example": "{\n  \"orderId\": 1234567\n}"
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestoreOrderfromOnHoldresponse"
                },
                "example": {
                  "success": true,
                  "message": "The requested order has been restored"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      }
    },
    "/orders/unassignuser": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Unassign User from Order",
        "description": "Unassigns a user from an order.  The body of this request should specify the following attributes:\nName               |Data Type          |Description\n-------------------|-------------------|-------------------\n``orderIds`` | number, required | Identifies set of orders that will have the user unassigned.  Please note that if ANY of the orders within the array are not found, then no orders will have their users unassigned.",
        "operationId": "UnassignUserFromOrder",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnassignUserfromOrderrequest"
              },
              "example": "{\n  \"orderIds\": [\n    123456789,\n    12345679\n    ]\n}"
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnassignUserfromOrderresponse"
                },
                "example": {
                  "success": true,
                  "message": "User unassigned successfully."
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      }
    },
    "/products/{productId}": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get Product",
        "description": "",
        "operationId": "GetProduct",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The system generated identifier for the Product.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double",
              "example": 12345678
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductresponse"
                },
                "example": {
                  "aliases": null,
                  "productId": 12345678,
                  "sku": "1004",
                  "name": "Coffee Mug",
                  "price": 26,
                  "defaultCost": 0,
                  "length": 3,
                  "width": 3,
                  "height": 3,
                  "weightOz": 26,
                  "internalNotes": null,
                  "fulfillmentSku": "F1004",
                  "createDate": "2014-09-04T09:18:01.293",
                  "modifyDate": "2014-09-18T12:38:43.893",
                  "active": true,
                  "productCategory": {
                    "categoryId": 9999,
                    "name": "Door Closers"
                  },
                  "productType": null,
                  "warehouseLocation": "Bin 22",
                  "defaultCarrierCode": "fedex",
                  "defaultServiceCode": "fedex_home_delivery",
                  "defaultPackageCode": "package",
                  "defaultIntlCarrierCode": "ups",
                  "defaultIntlServiceCode": "ups_worldwide_saver",
                  "defaultIntlPackageCode": "package",
                  "defaultConfirmation": "direct_signature",
                  "defaultIntlConfirmation": "adult_signature",
                  "customsDescription": null,
                  "customsValue": null,
                  "customsTariffNo": null,
                  "customsCountryCode": null,
                  "noCustoms": null,
                  "tags": [
                    {
                      "tagId": 9180,
                      "name": "APItest"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      },
      "put": {
        "tags": [
          "Products"
        ],
        "summary": "Update Product",
        "description": "Updates an existing product. This call does not currently support partial updates. The entire resource must be provided in the body of the request.",
        "operationId": "UpdateProduct",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The system generated identifier for the Product.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double",
              "example": 12345678
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductrequest"
              },
              "example": "{\n        \"aliases\": null,\n        \"productId\": 123456789,\n        \"sku\": \"\",\n        \"name\": \"Beautiful\",\n        \"price\": 0,\n        \"defaultCost\": null,\n        \"length\": null,\n        \"width\": null,\n        \"height\": null,\n        \"weightOz\": null,\n        \"internalNotes\": null,\n        \"fulfillmentSku\": null,\n        \"active\": true,\n        \"productCategory\": null,\n        \"productType\": null,\n        \"warehouseLocation\": null,\n        \"defaultCarrierCode\": null,\n        \"defaultServiceCode\": null,\n        \"defaultPackageCode\": null,\n        \"defaultIntlCarrierCode\": null,\n        \"defaultIntlServiceCode\": null,\n        \"defaultIntlPackageCode\": null,\n        \"defaultConfirmation\": null,\n        \"defaultIntlConfirmation\": null,\n        \"customsDescription\": null,\n        \"customsValue\": null,\n        \"customsTariffNo\": null,\n        \"customsCountryCode\": null,\n        \"noCustoms\": null,\n        \"tags\": null\n    }"
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateProductresponse"
                },
                "example": {
                  "success": true,
                  "message": "The requested product has been updated"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      }
    },
    "/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "List Products w/o parameters",
        "description": "",
        "operationId": "ListProductsW/oParameters",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProductsw~1oparametersresponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBasic": []
          }
        ]
      }
    },
    "/products?sku={sku}&name={name}&productCategoryId={productCategoryId}&productTypeId={productTypeId}&tagId={tagId}&startDate={startDate}&endDate={endDate}&showInactive={showInactive}&sortBy={sortBy}&sortDir={sortDir}&page={page}&pageSize={pageSize}": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "List Products with parameters",
        "description": "Obtains a list of products that match the specified criteria.  All of the available filters are optional.  They do not need to be included in the URL.  If you do include them, here's what the URL may look like:\nUrl format with filters:\n```\n/products?sku={sku}\n&name={name}\n&productCategoryId={productCategoryId}\n&productTypeId={productTypeId}\n&tagId={tagId}\n&startDate={startDate}\n&endDate={endDate}\n&showInactive={showInactive}\n&sortBy={sortBy}\n&sortDir={sortDir}\n&page={page}\n&pageSize={pageSize}\n```",
        "operationId": "ListProductsWithParameters",
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "description": "Returns products that match the specified SKU.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
[...]
